<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__CDN__/assets/css/index/bangdan2.css" />
		<link rel="stylesheet" href="__CDN__/assets/css/index/icommon.css" />
		 <link rel="stylesheet" type="text/css" href="__CDN__/assets/css/index/pagination.css" media="screen">

		
	</head>
	<body>
		<div id="container">
		<div id="nav">
				<div class="nav_l n_conmment">
					<img src="__CDN__/assets/img/shouye/logo1.png"/>
				</div>
				<div class="nav_c n_conmment">
					<ul class="nav_cc">
						<li class="zhuye">首页</li>
						<li class="bangd">榜单</li>
						<li class="xmtxy">新媒体学院</li>
						<li class="chanpin">产品</li>
						<li class="gywm">关于我们</li>
						<li class="anl">成功案例</li>
					</ul>
					<div class="z_nav">
						<div class="z_top">
							<img src="__CDN__/assets/img/shouye/xtsj.png" />
						</div>
						<div class="z_bottom">
							<p class="tout tw1 ttb">头条榜</p>
							<p class="baow tw1 bwb">爆文榜</p>
						</div>
					</div>
					<div class="z_nav2">
						<div class="z_top">
							<img src="__CDN__/assets/img/shouye/xtsj.png" />
						</div>
						<div class="z_bottom">
							<p class="tout tw1">公司介绍</p>
							<p class="baow tw1">豹纹榜</p>
							<p class="tout tw1">头条榜</p>
							<p class="baow tw1">豹纹榜</p>
							<p class="tout tw1">头条榜</p>
							<p class="baow tw1">豹纹榜</p>
						</div>
					</div>
					{if condition="$name"}
					<!--已登陆状态-->
					<div class="z_nav5">
						<div class="z_top5">
							<img src="__CDN__/assets/img/shouye/xtsj.png" />
						</div>
						<div class="z_bottom5">
							<p class="tout tw15 ggz">返回我的主页</p>
							<p class="tout tw15 tuichu">退出登录</p>
						</div>
					</div>
					<!--未登陆状态-->
					{else /}
					<div class="z_nav3">
						<div class="z_top">
							<img src="__CDN__/assets/img/shouye/xtsj.png" />
						</div>
						<div class="z_bottom">
							<p class="baow tw1 ggzdl">广告主登录</p>
							<p class="tout tw1 llzdl">流量主登录</p>
						</div>
					</div>
					{/if}
				</div>
				<div class="nav_r n_conmment">
					{if condition="$name"}
					<p class="deng">{$name}</p>
					{else/}
					<p class="deng">登录</p>
					{/if}
					<p class="shu1">|</p>
					<p class="zhu">注册</p>
					<div class="z_nav4">
						<div class="z_top4">
							<img src="__CDN__/assets/img/shouye/xtsj.png" />
						</div>
						<div class="z_bottom4">
							<p class="tout tw1 ggzzc">流量主注册</p>
							<p class="baow tw1 llzzc">广告主注册</p>
							<!--<p class="tout tw1">退出登陆</p>-->
						</div>
					</div>
				</div>
			</div>
			</div>
		
		<div class="bw">
			<p class="b_shu">|</p>
			<p class="bwbb">爆文榜</p>
		</div>
		<div id="list">
			<div class="list_l">
		<!------------------------------头部-------------------------------->
				<ul class="list_t">
					<li class="list_tl tl1">排序</li>
					<!--<li class="list_tl tl2">头条号</li>-->
					<li class="list_tl tl3">标题</li>
					<li class="list_tl tl4">阅读量</li>
					<li class="list_tl tl4">发文时间</li>
				</ul>
		<!------------------------------内容------------------------------>
		<div class="bw_con">
				<!--<ul class="list_b">
					<li class="shuj j1">
						<div class="shuj_l">1</div>
						<div class="shuj_r">
							<img src="__CDN__/assets/img/shouye/头像.png"/>
						</div>
					</li>
					<li class="shuj j2">长安知街事</li>
					<li class="shuj j3">18W</li>
					<li class="shuj j4">469208</li>
					<li class="shuj j4">10000</li>
				</ul>
				<ul class="list_b">
					<li class="shuj j1">
						<div class="shuj_l">1</div>
						<div class="shuj_r">
							<img src="__CDN__/assets/img/shouye/头像.png"/>
						</div>
					</li>
					<li class="shuj j2">长安知街事</li>
					<li class="shuj j3">18W</li>
					<li class="shuj j4">469208</li>
					<li class="shuj j4">10000</li>
				</ul>
				<ul class="list_b">
					<li class="shuj j1">
						<div class="shuj_l">1</div>
						<div class="shuj_r">
							<img src="__CDN__/assets/img/shouye/头像.png"/>
						</div>
					</li>
					<li class="shuj j2">长安知街事</li>
					<li class="shuj j3">18W</li>
					<li class="shuj j4">469208</li>
					<li class="shuj j4">10000</li>
				</ul>
				<ul class="list_b">
					<li class="shuj j1">
						<div class="shuj_l">1</div>
						<div class="shuj_r">
							<img src="__CDN__/assets/img/shouye/头像.png"/>
						</div>
					</li>
					<li class="shuj j2">长安知街事</li>
					<li class="shuj j3">18W</li>
					<li class="shuj j4">469208</li>
					<li class="shuj j4">10000</li>
				</ul>
				<ul class="list_b">
					<li class="shuj j1">
						<div class="shuj_l">1</div>
						<div class="shuj_r">
							<img src="__CDN__/assets/img/shouye/头像.png"/>
						</div>
					</li>
					<li class="shuj j2">长安知街事</li>
					<li class="shuj j3">18W</li>
					<li class="shuj j4">469208</li>
					<li class="shuj j4">10000</li>
				</ul>
				<ul class="list_b">
					<li class="shuj j1">
						<div class="shuj_l">1</div>
						<div class="shuj_r">
							<img src="__CDN__/assets/img/shouye/头像.png"/>
						</div>
					</li>
					<li class="shuj j2">长安知街事</li>
					<li class="shuj j3">18W</li>
					<li class="shuj j4">469208</li>
					<li class="shuj j4">10000</li>
				</ul>
				<ul class="list_b">
					<li class="shuj j1">
						<div class="shuj_l">1</div>
						<div class="shuj_r">
							<img src="__CDN__/assets/img/shouye/头像.png"/>
						</div>
					</li>
					<li class="shuj j2">长安知街事</li>
					<li class="shuj j3">18W</li>
					<li class="shuj j4">469208</li>
					<li class="shuj j4">10000</li>
				</ul>
				<ul class="list_b">
					<li class="shuj j1">
						<div class="shuj_l">1</div>
						<div class="shuj_r">
							<img src="__CDN__/assets/img/shouye/头像.png"/>
						</div>
					</li>
					<li class="shuj j2">长安知街事</li>
					<li class="shuj j3">18W</li>
					<li class="shuj j4">469208</li>
					<li class="shuj j4">10000</li>
				</ul>
				<ul class="list_b">
					<li class="shuj j1">
						<div class="shuj_l">1</div>
						<div class="shuj_r">
							<img src="__CDN__/assets/img/shouye/头像.png"/>
						</div>
					</li>
					<li class="shuj j2">长安知街事</li>
					<li class="shuj j3">18W</li>
					<li class="shuj j4">469208</li>
					<li class="shuj j4">10000</li>
				</ul>
				<ul class="list_b">
					<li class="shuj j1">
						<div class="shuj_l">1</div>
						<div class="shuj_r">
							<img src="__CDN__/assets/img/shouye/头像.png"/>
						</div>
					</li>
					<li class="shuj j2">长安知街事</li>
					<li class="shuj j3">18W</li>
					<li class="shuj j4">469208</li>
					<li class="shuj j4">10000</li>
				</ul>-->
	</div>
			<div class="m_kuang">
				<div class="M-box1"></div>
				</div>
			</div>
			

		</div>
		<div id="bot">
			<div class="bot">北京头条易科技有限公司 | 京ICP备16042456号-1</div>
		</div>
		<div class="zongye" style="display: none;"></div>
		<div class="meiye" style="display: none;"></div>
	</body>
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
	
	<script src="__CDN__/assets/js/index/js/jquery.pagination.js"></script>
	<script type="text/javascript" src="__CDN__/assets/js/index/js/bangdan2.js" ></script>
	<script type="text/javascript" src="__CDN__/assets/js/index/js/shouye.js" ></script>
	
	 
</html>
