<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="css/bangdan.css" />
		<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
		<script type="text/javascript" src="js/bangdan.js" ></script>
	</head>
	<body>
		<div id="container">
			<!-------------------------------------------nav------------------------------------------->
			<div id="nav">
				<div class="nav_l n_conmment">
					<img src="img/shouye/logo1.png"/>
				</div>
				<div class="nav_c n_conmment">
					<ul class="nav_cc">
						<li>主页</li>
						<li class="bangd">榜单</li>
						<li>新媒体学院</li>
						<li>产品</li>
						<li class="gywm">关于我们</li>
						<li>成功案例</li>
					</ul>
					<div class="z_nav">
						<div class="z_top">
							<img src="img/shouye/悬停三角.png" />
						</div>
						<div class="z_bottom">
							<p class="tout tw1">头条榜</p>
							<p class="baow tw1">豹纹榜</p>
						</div>
					</div>
					<div class="z_nav2">
						<div class="z_top">
							<img src="img/shouye/悬停三角.png" />
						</div>
						<div class="z_bottom">
							<p class="tout tw1">公司介绍</p>
							<p class="baow tw1">豹纹榜</p>
							<p class="tout tw1">头条榜</p>
							<p class="baow tw1">豹纹榜</p>
							<p class="tout tw1">头条榜</p>
							<p class="baow tw1">豹纹榜</p>
						</div>
					</div>
					
				</div>
				<div class="nav_r n_conmment">
					<p class="deng">登陆</p>
					<p class="shu1">|</p>
					<p class="zhu">注册</p>
				</div>
			</div>
		</div>
		<ul id="navn">
			<div class="navn_l">
				<p class="n_shu">|</p>
				<p class="lei">类别:</p>
			</div>
			<div class="navn_r">
				<li>不线</li>
				<li>不线</li>
				<li>不线</li>
				<li>不线</li>
				<li>不线</li>
				<li>不线</li>
				<li>不线的</li>
				<li>不线</li>
				<li>不线</li>
				<li>不线</li>
				<li>不线啥的</li>
				<li>不线</li>
				<li>不线</li>
				<li>不线</li>
				<li>不线阿斯顿</li>
				<li>不线</li>
				<li>不线</li>
				<li>不线</li>
				<li>不线</li>
				<li>不线</li>
				<li>不线</li>
				<li>不线</li>
				<li>不线</li>
				<li>不线</li>
				<li>不线</li>
				<li>不线</li>
			</div>
		</ul>
		<div class="daoh">
			<ul class="bang">
				<li class="zbang zbang1">周榜</li>
				<li class="zbang zbang2">月榜</li>

			</ul>
		</div>
		<div id="list">
			<div class="list_l">
		<!------------------------------头部-------------------------------->
				<ul class="list_t">
					<li class="list_tl">排序</li>
					<li class="list_tl">头条号</li>
					<li class="list_tl">粉丝量</li>
					<li class="list_tl">平均阅读量</li>
					<li class="list_tl">价值传播指数</li>
				</ul>
		<!------------------------------内容------------------------------>
		<div class="pageBox">
		<ul class="pageDiv clearfix">
		
		</ul>
		<div class="notContent hide">
			无数据
		</div>
		<div class="page">
			<ul class="pageMenu clearfix">
				<li class="firstPage">首页</li>
				<li class="prevPage"> < 上一页 </li>
				<div class="pageObj ">
					
				</div>
				<li class="nextPage"> 下一页 > </li>
				<li class="lastPage">尾页</li>
				<li class="last" style="font-size: 14px;">
					共<span class="totalPage"></span>页，跳转至 <input type="number" class="keuInput" value="1">
					<button type="button" class="btnSure">确定</button>
				</li>
			</ul>
		</div>
    </div>
				<!--<ul class="list_b">
					<li class="shuj">
						<div class="shuj_l">1</div>
						<div class="shuj_r">
							<img src="img/shouye/头像.png"/>
						</div>
					</li>
					<li class="shuj">长安知街事</li>
					<li class="shuj">18W</li>
					<li class="shuj">469208</li>
					<li class="shuj">10000</li>
				</ul>
				<ul class="list_b">
					<li class="shuj">
						<div class="shuj_l">1</div>
						<div class="shuj_r">
							<img src="img/shouye/头像.png"/>
						</div>
					</li>
					<li class="shuj">长安知街事</li>
					<li class="shuj">18W</li>
					<li class="shuj">469208</li>
					<li class="shuj">10000</li>
				</ul>
				<ul class="list_b">
					<li class="shuj">
						<div class="shuj_l">1</div>
						<div class="shuj_r">
							<img src="img/shouye/头像.png"/>
						</div>
					</li>
					<li class="shuj">长安知街事</li>
					<li class="shuj">18W</li>
					<li class="shuj">469208</li>
					<li class="shuj">10000</li>
				</ul>
				<ul class="list_b">
					<li class="shuj">
						<div class="shuj_l">1</div>
						<div class="shuj_r">
							<img src="img/shouye/头像.png"/>
						</div>
					</li>
					<li class="shuj">长安知街事</li>
					<li class="shuj">18W</li>
					<li class="shuj">469208</li>
					<li class="shuj">10000</li>
				</ul>
				<ul class="list_b">
					<li class="shuj">
						<div class="shuj_l">1</div>
						<div class="shuj_r">
							<img src="img/shouye/头像.png"/>
						</div>
					</li>
					<li class="shuj">长安知街事</li>
					<li class="shuj">18W</li>
					<li class="shuj">469208</li>
					<li class="shuj">10000</li>
				</ul>
				<ul class="list_b">
					<li class="shuj">
						<div class="shuj_l">1</div>
						<div class="shuj_r">
							<img src="img/shouye/头像.png"/>
						</div>
					</li>
					<li class="shuj">长安知街事</li>
					<li class="shuj">18W</li>
					<li class="shuj">469208</li>
					<li class="shuj">10000</li>
				</ul>
				<ul class="list_b">
					<li class="shuj">
						<div class="shuj_l">1</div>
						<div class="shuj_r">
							<img src="img/shouye/头像.png"/>
						</div>
					</li>
					<li class="shuj">长安知街事</li>
					<li class="shuj">18W</li>
					<li class="shuj">469208</li>
					<li class="shuj">10000</li>
				</ul>
				<ul class="list_b">
					<li class="shuj">
						<div class="shuj_l">1</div>
						<div class="shuj_r">
							<img src="img/shouye/头像.png"/>
						</div>
					</li>
					<li class="shuj">长安知街事</li>
					<li class="shuj">18W</li>
					<li class="shuj">469208</li>
					<li class="shuj">10000</li>
				</ul>
				<ul class="list_b">
					<li class="shuj">
						<div class="shuj_l">1</div>
						<div class="shuj_r">
							<img src="img/shouye/头像.png"/>
						</div>
					</li>
					<li class="shuj">长安知街事</li>
					<li class="shuj">18W</li>
					<li class="shuj">469208</li>
					<li class="shuj">10000</li>
				</ul>
				<ul class="list_b">
					<li class="shuj">
						<div class="shuj_l">1</div>
						<div class="shuj_r">
							<img src="img/shouye/头像.png"/>
						</div>
					</li>
					<li class="shuj">长安知街事</li>
					<li class="shuj">18W</li>
					<li class="shuj">469208</li>
					<li class="shuj">10000</li>
				</ul>-->
			</div>
			<div class="list_r">
				<div class="listr_t">
					<div class="listrt_l">
						<img src="img/xmtxy/tishi.png" />
					</div>
					<p class="listrt_r">提示</p>
					
				</div>
				<p class="neir">想看更多榜单？扫描关注头条易公众号，查看Top500</p>
				<div class="ewmm">
					<img src="img/xmtxy/ewmm.png" />
				</div>
			</div>
		</div>
		<div id="bot">
			<div class="bot">北京头条易科技有限公司 | 京ICP备16042456号-1</div>
		</div>
	</body>
	<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
	  <script src="js/page.js"></script>
	<script>
    	$(function(){
    		$(".pageBox").pageFun({  /*在本地服务器上才能访问哦*/
    			interFace:"data/page.json",  /*接口*/
    			displayCount:10,  /*每页显示总条数*/
    			maxPage:3,/*每次最多加载多少页*/
    			dataFun:function(data){
    				var dataHtml = '<ul class="list_b"><li class="shuj"><div class="shuj_l">'+data.dataNum+'</div><div class="shuj_r"><img src="img/shouye/头像.png"/></div></li><li class="shuj">长安知街事</li><li class="shuj">18W</li><li class="shuj">469208</li><li class="shuj">10000</li></ul> '
    				
    				
    				
//  				var dataHtml = '<li>'+data.dataNum+'</li>';
    					return dataHtml;
    			},
    			pageFun:function(i){
    				var pageHtml = '<li class="pageNum">'+i+'</li>';
						return pageHtml;
    			}

    		})
    	})
    </script>
</html>
