<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__CDN__/assets/css/index/ddgl.css" />
		<link rel="stylesheet" type="text/css" href="__CDN__/assets/css/index/pagination.css" media="screen">
	</head>
	<body>
		<div id="gaikuang">
			<div class="wai">
			<!--<div class="ddgl">
				<div class="ddgl_t">
					<p class="ddgl_l">项目名称：Zuke手机</p>
					<p class="ddgl_l ddgl_l2">创建时间：2017-5-22 15:44:23</p>
					<div class="ddgl_r">
						<div class="cha">
							<img src="img/xmtxy/xiangmuxiangqing.png" />
						</div>
						<p class="xiangq">项目详情</p>
					</div>
					<p class="ddgl_c">已完成</p>
				</div>
				<ul class="ddgl_cc">
					<li class="tthn tthn1">头条号名称</li>
					<li class="tthn tthn2">计划投放时间</li>
					<li class="tthn tthn2">实际投放时间</li>
					<li class="tthn tthn3">产品类型</li>
					<li class="tthn tthn4">文章标题</li>
					<li class="tthn tthn5">文章链接</li>
					<li class="tthn tthn6">其他</li>
				</ul>
				<ul class="ddgl_c2">
					<li class="tth_c">
						<div class="tth_pic">
							<img src="img/shouye/头像.png" />
						</div>
						<p class="tth_picr">微说世界</p>
					</li>
					<li class="tth_c c1">
						<p class="tth_p">2017-07-06</p>
					</li>
					<li class="tth_c c1">
						<p class="tth_p">2017-07-30</p>
					</li>
					<li class="tth_c c2">
						<p class="tth_p p1">视频</p>
					</li>
					<li class="tth_c c3">
						<textarea type="text" class="tth_p p2">视难解难分纪念封申建你是否的高科技尼克斯队频</textarea>
						<p class="xiu">修改</p>
					</li>
					<li class="tth_c c4">
						<textarea type="text" class="tth_p p2">视难解难分纪念封申建你是否的高科技尼克斯队频</textarea>
						<p class="xiu">修改</p>
					</li>
					<li class="tth_c c5">
						<p class="qi">其它链接</p>
					</li>
				</ul>
				<ul class="ddgl_c2">
					<li class="tth_c">
						<div class="tth_pic">
							<img src="img/shouye/头像.png" />
						</div>
						<p class="tth_picr">微说世界</p>
					</li>
					<li class="tth_c c1">
						<p class="tth_p">2017-07-06</p>
					</li>
					<li class="tth_c c1">
						<p class="tth_p">2017-07-30</p>
					</li>
					<li class="tth_c c2">
						<p class="tth_p p1">视频</p>
					</li>
					<li class="tth_c c3">
						<textarea type="text" class="tth_p p2">视难解难分纪念封申建你是否的高科技尼克斯队频</textarea>
						<p class="xiu">修改</p>
					</li>
					<li class="tth_c c4">
						<textarea type="text" class="tth_p p2">视难解难分纪念封申建你是否的高科技尼克斯队频</textarea>
						<p class="xiu">修改</p>
					</li>
					<li class="tth_c c5">
						<p class="qi">其它链接</p>
					</li>
				</ul>
			</div>
			
			
			
			<div class="ddgl">
				<div class="ddgl_t">
					<p class="ddgl_l">项目名称：Zuke手机</p>
					<p class="ddgl_l ddgl_l2">创建时间：2017-5-22 15:44:23</p>
					<div class="ddgl_r">
						<div class="cha">
							<img src="img/xmtxy/xiangmuxiangqing.png" />
						</div>
						<p class="xiangq">项目详情</p>
					</div>
					<p class="ddgl_c">已完成</p>
				</div>
				<ul class="ddgl_cc">
					<li class="tthn tthn1">头条号名称</li>
					<li class="tthn tthn2">计划投放时间</li>
					<li class="tthn tthn2">实际投放时间</li>
					<li class="tthn tthn3">产品类型</li>
					<li class="tthn tthn4">文章标题</li>
					<li class="tthn tthn5">文章链接</li>
					<li class="tthn tthn6">其他</li>
				</ul>
				<ul class="ddgl_c2">
					<li class="tth_c">
						<div class="tth_pic">
							<img src="img/shouye/头像.png" />
						</div>
						<p class="tth_picr">微说世界</p>
					</li>
					<li class="tth_c c1">
						<p class="tth_p">2017-07-06</p>
					</li>
					<li class="tth_c c1">
						<p class="tth_p">2017-07-30</p>
					</li>
					<li class="tth_c c2">
						<p class="tth_p p1">视频</p>
					</li>
					<li class="tth_c c3">
						<textarea type="text" class="tth_p p2">视难解难分纪念封申建你是否的高科技尼克斯队频</textarea>
						<p class="xiu">修改</p>
					</li>
					<li class="tth_c c4">
						<textarea type="text" class="tth_p p2">视难解难分纪念封申建你是否的高科技尼克斯队频</textarea>
						<p class="xiu">修改</p>
					</li>
					<li class="tth_c c5">
						<p class="qi">其它链接</p>
					</li>
				</ul>
				<ul class="ddgl_c2">
					<li class="tth_c">
						<div class="tth_pic">
							<img src="img/shouye/头像.png" />
						</div>
						<p class="tth_picr">微说世界</p>
					</li>
					<li class="tth_c c1">
						<p class="tth_p">2017-07-06</p>
					</li>
					<li class="tth_c c1">
						<p class="tth_p">2017-07-30</p>
					</li>
					<li class="tth_c c2">
						<p class="tth_p p1">视频</p>
					</li>
					<li class="tth_c c3">
						<textarea type="text" class="tth_p p2">视难解难分纪念封申建你是否的高科技尼克斯队频</textarea>
						<p class="xiu">修改</p>
					</li>
					<li class="tth_c c4">
						<textarea type="text" class="tth_p p2">视难解难分纪念封申建你是否的高科技尼克斯队频</textarea>
						<p class="xiu">修改</p>
					</li>
					<li class="tth_c c5">
						<p class="qi">其它链接</p>
					</li>
				</ul>
			</div>
			
			
			
			<div class="ddgl">
				<div class="ddgl_t">
					<p class="ddgl_l">项目名称：Zuke手机</p>
					<p class="ddgl_l ddgl_l2">创建时间：2017-5-22 15:44:23</p>
					<div class="ddgl_r">
						<div class="cha">
							<img src="img/xmtxy/xiangmuxiangqing.png" />
						</div>
						<p class="xiangq">项目详情</p>
					</div>
					<p class="ddgl_c">已完成</p>
				</div>
				<ul class="ddgl_cc">
					<li class="tthn tthn1">头条号名称</li>
					<li class="tthn tthn2">计划投放时间</li>
					<li class="tthn tthn2">实际投放时间</li>
					<li class="tthn tthn3">产品类型</li>
					<li class="tthn tthn4">文章标题</li>
					<li class="tthn tthn5">文章链接</li>
					<li class="tthn tthn6">其他</li>
				</ul>
				<ul class="ddgl_c2">
					<li class="tth_c">
						<div class="tth_pic">
							<img src="img/shouye/头像.png" />
						</div>
						<p class="tth_picr">微说世界</p>
					</li>
					<li class="tth_c c1">
						<p class="tth_p">2017-07-06</p>
					</li>
					<li class="tth_c c1">
						<p class="tth_p">2017-07-30</p>
					</li>
					<li class="tth_c c2">
						<p class="tth_p p1">视频</p>
					</li>
					<li class="tth_c c3">
						<textarea type="text" class="tth_p p2">视难解难分纪念封申建你是否的高科技尼克斯队频</textarea>
						<p class="xiu">修改</p>
					</li>
					<li class="tth_c c4">
						<textarea type="text" class="tth_p p2">视难解难分纪念封申建你是否的高科技尼克斯队频</textarea>
						<p class="xiu">修改</p>
					</li>
					<li class="tth_c c5">
						<p class="qi">其它链接</p>
					</li>
				</ul>
				<ul class="ddgl_c2">
					<li class="tth_c">
						<div class="tth_pic">
							<img src="img/shouye/头像.png" />
						</div>
						<p class="tth_picr">微说世界</p>
					</li>
					<li class="tth_c c1">
						<p class="tth_p">2017-07-06</p>
					</li>
					<li class="tth_c c1">
						<p class="tth_p">2017-07-30</p>
					</li>
					<li class="tth_c c2">
						<p class="tth_p p1">视频</p>
					</li>
					<li class="tth_c c3">
						<textarea type="text" class="tth_p p2">视难解难分纪念封申建你是否的高科技尼克斯队频</textarea>
						<p class="xiu">修改</p>
					</li>
					<li class="tth_c c4">
						<textarea type="text" class="tth_p p2">视难解难分纪念封申建你是否的高科技尼克斯队频</textarea>
						<p class="xiu">修改</p>
					</li>
					<li class="tth_c c5">
						<p class="qi">其它链接</p>
					</li>
				</ul>
			</div>-->
			</div>
			<div class="M-box1"></div>
		</div>
		
	</body>
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
	<script src="__CDN__/assets/js/index/js/jquery.pagination.js"></script>
	<script type="text/javascript" src="__CDN__/assets/js/index/js/ddgl.js" ></script>
</html>
