<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__CDN__/assets/css/index/fensihuaxing.css" />
	</head>
	<body>
		<div id="gaikuang">
			<div class="fensi_t">
				<div class="huaxiang">
					<div class="hx_t">
						<p class="hxt1">|</p>
						<p class="hxt2">性别比例</p>
					</div>
					<div class="hx_c">
						<img src="__CDN__/assets/img/xmtxy/fensi-jietu.png" />
						<div class="tuz tuz1"></div>
						<form id="form1" enctype="multipart/form-data">
							<input class="name_s chuan chuan1" name="file" type="file" placeholder="本地上传"  />
						</form>
					</div>
					<div class="hx_b">
						<p class="shili shili1">示例</p>
					</div>
				</div>
				<div class="huaxiang">
					<div class="hx_t">
						<p class="hxt1">|</p>
						<p class="hxt2">年龄分布</p>
					</div>
					<div class="hx_c">
						<img src="__CDN__/assets/img/xmtxy/fensi-jietu.png" />
						<div class="tuz tuz2"></div>
						<form id="form2" enctype="multipart/form-data">
							<input class="name_s chuan chuan2" name="file" type="file" placeholder="本地上传"  />
						</form>
					</div>
					<div class="hx_b">
						<p class="shili shili2">示例</p>
					</div>
				</div>
				<div class="huaxiang">
					<div class="hx_t">
						<p class="hxt1">|</p>
						<p class="hxt2">地域分布</p>
					</div>
					<div class="hx_c">
						<img src="__CDN__/assets/img/xmtxy/fensi-jietu.png" />
						<div class="tuz tuz3"></div>
						<form id="form3" enctype="multipart/form-data">
							<input class="name_s chuan chuan3" name="file" type="file" placeholder="本地上传"  />
						</form>
					</div>
					<div class="hx_b">
						<p class="shili shili3">示例</p>
					</div>
				</div>
				<div class="huaxiang">
					<div class="hx_t">
						<p class="hxt1">|</p>
						<p class="hxt2">终端分布</p>
					</div>
					<div class="hx_c">
						<img src="__CDN__/assets/img/xmtxy/fensi-jietu.png" />
						<div class="tuz tuz4"></div>
						<form id="form4" enctype="multipart/form-data">
							<input class="name_s chuan chuan4" name="file" type="file" placeholder="本地上传"  />
						</form>
					</div>
					<div class="hx_b">
						<p class="shili shili4">示例</p>
					</div>
				</div>
			</div>
			<div class="fensi_b">
				<div class="fensib">
					<img src="__CDN__/assets/img/xmtxy/u661.png" />
				</div>
			</div>
		</div>
	</body>
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
		<script type="text/javascript" src="__CDN__/assets/js/index/js/fensihuaxiang.js" ></script>
</html>
