<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__CDN__/assets/css/index/g_dclrw.css" />
		<link rel="stylesheet" href="__CDN__/assets/css/index/common.css" />
		<link rel="stylesheet" type="text/css" href="__CDN__/assets/css/index/pagination.css" media="screen">
	</head>
	<body>
		<div id="g_head">
			<div class="g_head">
				<div class="nav_l n_conmment">
					<img src="__CDN__/assets/img/shouye/logo1.png"/>
				</div>
				<ul class="g_con">
					<li>
						<div class="li_l">
							<img src="__CDN__/assets/img/xmtxy/shouye-moren.png" />
						</div>
						<p class="li_r shouye">主页</p>
					</li>
					
					<li>
						<div class="li_l">
							<img src="__CDN__/assets/img/xmtxy/xuanhaoche-moren.png" />
						</div>
						<p class="li_r xhc">选号车</p>
					</li>
					<li>
						<div class="li_l">
							<img src="__CDN__/assets/img/xmtxy/dingdan-moren.png" />
						</div>
						<p class="li_r wddd">我的订单</p>
					</li>
					<li>
						<div class="li_l">
							<img src="__CDN__/assets/img/xmtxy/shoucangjia-moren.png" />
						</div>
						<p class="li_r scj">收藏夹</p>
					</li>
					<li>
						<div class="li_l">
							<img src="__CDN__/assets/img/xmtxy/daichulirenwu-dangqian.png" />
						</div>
						<p class="li_r dclrw">待处理任务</p>
					</li>
					<li>
						<div class="li_l">
							<img src="__CDN__/assets/img/xmtxy/help-moren.png" />
						</div>
						<p class="li_r gbz">帮助</p>
					</li>
				</ul>
				<div class="deng">
						<div class="tss">
							<img src="__CDN__/assets/img/xmtxy/xiaoxi.png" />
						</div>
						
				</div>
				
				<div class="login">
					<p class="log">账户：{$name}</p>
					<!--<p class="log">退出</p>-->
					<div class="z_nav3">
						<div class="z_top">
							<img src="__CDN__/assets/img/shouye/xtsj.png" />
						</div>
						<div class="z_bottom">
							<p class="tout tw1 zhuye">返回首页</p>
							<p class="baow tw1 xgmm">修改密码</p>
							<p class="tout tw1 tuichu">退出登录</p>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		
		
		
		<div id="gaikuang">
			<div class="ddgl">
				<ul class="ddgl_cc">
					<li class="tthn tthn1">项目名称</li>
					<li class="tthn tthn2">头条号名称</li>
					<li class="tthn tthn3">计划投放时间</li>
					<li class="tthn tthn4">当前状态</li>
					
					<li class="tthn tthn6">操作</li>
				</ul>
				<div class="dcl_con">
				<!--<ul class="ddgl_c2">
					<li class="tth_c c1">
						<p class="tth_p">2017-07-06</p>
					</li>
					<li class="tth_c c2">
						<div class="tth_pic">
							<img src="img/shouye/头像.png" />
						</div>
						<p class="tth_picr">微说世界</p>
					</li>
					<li class="tth_c c3">
						<p class="tth_p">2017-07-06</p>
					</li>
					<li class="tth_c c4">
						<p class="tth_p">待上传</p>
					</li>
					<li class="tth_c c5">
						<p class="tth_p p3">待上传</p>
					</li>
				</ul>
				<ul class="ddgl_c2">
					<li class="tth_c c1">
						<p class="tth_p">2017-07-06</p>
					</li>
					<li class="tth_c c2">
						<div class="tth_pic">
							<img src="img/shouye/头像.png" />
						</div>
						<p class="tth_picr">微说世界</p>
					</li>
					<li class="tth_c c3">
						<p class="tth_p">2017-07-06</p>
					</li>
					<li class="tth_c c4">
						<p class="tth_p">待上传</p>
					</li>
					<li class="tth_c c5">
						<p class="tth_p p3">待上传</p>
					</li>
				</ul>
				<ul class="ddgl_c2">
					<li class="tth_c c1">
						<p class="tth_p">2017-07-06</p>
					</li>
					<li class="tth_c c2">
						<div class="tth_pic">
							<img src="img/shouye/头像.png" />
						</div>
						<p class="tth_picr">微说世界</p>
					</li>
					<li class="tth_c c3">
						<p class="tth_p">2017-07-06</p>
					</li>
					<li class="tth_c c4">
						<p class="tth_p">待上传</p>
					</li>
					<li class="tth_c c5">
						<p class="tth_p p3">处理</p>
					</li>
				</ul>-->
				</div>
				</div>
			
		</div>
		
		</div>
		
		<div class="f_kuang">
			<div class="M-box1"></div>
		</div>
		<div id="bot">
			<div class="bot">北京头条易科技有限公司 | 京ICP备16042456号-1</div>
		</div>
	</body>
	
</html>
	</body>
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
	<script src="__CDN__/assets/js/index/js/jquery.pagination.js"></script>
	<script type="text/javascript" src="__CDN__/assets/js/index/js/common.js" ></script>
	<script type="text/javascript" src="__CDN__/assets/js/index/js/g_dclrw.js" ></script>
	<script>
//		$('.tth_p').click(function(){
//			if($('.shangc').html()=="待上传"){
//			$('#gaikuang1').css({"display":"block","position":"absolute","top":"0"})
//			}else if($('.shangc').html()=="待修改"){
//				$('#gaikuang2').css({"display":"block","position":"absolute","top":"0"})
//			}
//		})
//		$('.cg img').click(function(){
//			$('#gaikuang1').css("display","none")
//			
//		})
//		$('.cg img').click(function(){
//			$('#gaikuang2').css("display","none")
//			
//		})
				
	</script>
</html>
