<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
				

		<link rel="stylesheet" href="__CDN__/assets/css/index/gaikuang.css" />
		
	</head>
	<body>
		<div id="gaikuang">
			<div class="g_head">
				<p class="g_headl">|</p>
				<p class="g_headr">您是否也开通了以下平台的账号？请根据实际情况进行选择。</p>
			</div>
			<div class="g_jihui">
				<p class="g_jh">(易妹温馨提示：请确保信息的准确性，否则可能错失机会哦!)</p>
			</div>
			<ul class="g_ping">
				<!--<li class="pingtai">
					<div class="g_xuan"><input class="one" type="checkbox" name="cb1"></div>
					<p class="g_xiang">微信</p>
				</li>
				<li class="pingtai">
					<div class="g_xuan"><input class="one" type="checkbox" name="cb1"></div>
					<p class="g_xiang">微信</p>
				</li>
				<li class="pingtai">
					<div class="g_xuan"><input class="one" type="checkbox" name="cb1"></div>
					<p class="g_xiang">微信</p>
				</li>
				<li class="pingtai">
					<div class="g_xuan"><input class="one" type="checkbox" name="cb1"></div>
					<p class="g_xiang">微信</p>
				</li>
				<li class="pingtai">
					<div class="g_xuan"><input class="one" type="checkbox" name="cb1"></div>
					<p class="g_xiang">微信</p>
				</li>
				<li class="pingtai">
					<div class="g_xuan"><input class="one" type="checkbox" name="cb1"></div>
					<p class="g_xiang">微信</p>
				</li>
				<li class="pingtai">
					<div class="g_xuan"><input class="one" type="checkbox" name="cb1"></div>
					<p class="g_xiang">微信</p>
				</li>
				<li class="pingtai">
					<div class="g_xuan"> <input class="one" type="checkbox" name="cb1"></div>
					<p class="g_xiang">微信</p>
				</li>
				<li class="pingtai">
					<div class="g_xuan"> <input class="one" type="checkbox" name="cb1"></div>
					<p class="g_xiang">微信</p>
				</li>
				<li class="pingtai">
					<div class="g_xuan"> <input class="one" type="checkbox" name="cb1"></div>
					<p class="g_xiang">微信</p>
				</li>
				<li class="pingtai">
					<div class="g_xuan"><input class="one" type="checkbox" name="cb1"></div>
					<p class="g_xiang">微信</p>
				</li>
				<li class="pingtai">
					<div class="g_xuan"><input class="one" type="checkbox" name="cb1"></div>
					<p class="g_xiang">微信</p>
				</li>-->
			</ul>
			<div class="g_ti">提交</div>
		</div>
	</body>
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
	<script type="text/javascript" src="__CDN__/assets/js/index/js/gaikuang.js" ></script>
</html>
