<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__CDN__/assets/css/index/gaikuang1.css" />
	</head>
	<body>
		<div id="gaikuang">
			<div class="gk_h">
				<div class="tu">
					<div class="tut">
						<img src="__CDN__/assets/img/xmtxy/jietu-.png"/>
					</div>
					<div class="djs">
						<p class="chuant">点击上传图片</p>
					</div>
					<div class="tuz"></div>
					<form id="form1" enctype="multipart/form-data">
						<input class="name_s chuan" name="file" type="file" placeholder="本地上传"  />
					</form>
				</div>
				<div class="tu_r">
					<p class="jt">截图说明：</p>
					<p class="jt2">1.截图中关键信息清晰可见</p>
					<p class="jt3">2.图片大小不超过512k</p>
				</div>
			</div>
			<div class="gk_c">
				<p class="gk_shu">|</p>
				<p class="gk_j">截图示例</p>
			</div>
			<div class="gk_b">
				<img src="__CDN__/assets/img/xmtxy/jtsl.png" />
				<!--<div class="gkb_b">
					<div class="gkb_r">
						<div class="gkb_bl">
							<img src="img/xmtxy/xiaoxi.png" />
							<span></span>
						</div>
						<div class="gkb_br">
							<div class="gaik_l"></div>
						</div>
					</div>
				</div>-->
			</div>
		</div>
	</body>
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
	<script type="text/javascript" src="__CDN__/assets/js/index/js/gaikuang1.js" ></script>
</html>
