<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__CDN__/assets/css/index/xieyi.css" />
		<link rel="stylesheet" href="__CDN__/assets/css/index/gbz.css" />
	</head>
	<body>
		<div class="container"> 
			<header>
				<div class="nav_l">
					<img src="__CDN__/assets/img/shouye/logo1.png"/>
				</div>
			</header>
		</div>
		<div id="biaoti">
			<p class="biaoti"> 广告主帮助</p>
		</div>
		<div id="content">
			<h1>如何筛选账号？</h1>
			<p class="bianxian">在广告主主页的左测筛选区，可以填写条件进行精确搜索。</p>
			<img src="__CDN__/assets/img/xmtxy/12.png" />
			<h1>如何创建订单？</h1>
			<p class="bianxian">设置一定的筛选条件后，点击头条号左侧的购物车按钮，即可将此头条号加入选号车。</p>
			<img src="__CDN__/assets/img/xmtxy/13.png" />
			<p class="bianxian">进入选号车，点击“下一步”按钮，创建项目。</p>
			<img src="__CDN__/assets/img/xmtxy/14.png" />
			<p class="bianxian">填写项目信息，并上传稿件后，任务创建完成，等待头条易后台审核确认。</p>
		</div>
	</body>
</html>
