<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__CDN__/assets/css/index/common.css" />
		<link rel="stylesheet" href="__CDN__/assets/css/index/gqtlj.css" /> 
	</head>
	<body>
		<div id="g_head">
			<div class="g_head">
				<div class="nav_l n_conmment">
					<img src="__CDN__/assets/img/shouye/logo1.png"/>
				</div>
				<ul class="g_con">
					<li>
						<div class="li_l">
							<img src="__CDN__/assets/img/xmtxy/shouye-moren.png" />
						</div>
						<p class="li_r shouye">主页</p>
					</li>
					<li>
						<div class="li_l">
							<img src="__CDN__/assets/img/xmtxy/xuanhaoche-moren.png" />
						</div>
						<p class="li_r xhc">选号车</p>
					</li>
					<li>
						<div class="li_l">
							<img src="__CDN__/assets/img/xmtxy/dingdan-dangqian.png" />
						</div>
						<p class="li_r wddd">我的订单</p>
					</li>
					
					<li>
						<div class="li_l">
							<img src="__CDN__/assets/img/xmtxy/shoucangjia-moren.png" />
						</div>
						<p class="li_r scj">收藏夹</p>
					</li>
					<li>
						<div class="li_l">
							<img src="__CDN__/assets/img/xmtxy/daichulirenwu-moren.png" />
						</div>
						<p class="li_r dclrw">待处理任务</p>
					</li>
					<li>
						<div class="li_l">
							<img src="__CDN__/assets/img/xmtxy/help-moren.png" />
						</div>
						<p class="li_r gbz">帮助</p>
					</li>
				</ul>
				<div class="deng">
						<div class="tss">
							<img src="__CDN__/assets/img/xmtxy/xiaoxi.png" />
						</div>
						<!--<div class="z_nav2">
							<div class="z_top">
								<img src="__CDN__/assets/img/shouye/xtsj.png" />
							</div>
							<div class="z_bottom">
								<p class="tout tw1">消息通知</p>
								<div class="xxx_con">
								
								</div>
							
							</div>
					</div>-->
				</div>
				
				<div class="login">
					<p class="log">账户：{$name}</p>
					<!--<p class="log">退出</p>-->
					<div class="z_nav3">
						<div class="z_top">
							<img src="__CDN__/assets/img/shouye/xtsj.png" />
						</div>
						<div class="z_bottom">
							<p class="tout tw1 zhuye">返回首页</p>
							<p class="baow tw1 xgmm">修改密码</p>
							<p class="tout tw1 tuichu">退出登录</p>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		<div id="return">
			<div class="return">
				<div class="fan_p">
					<img src="__CDN__/assets/img/xmtxy/daichuli-fanhuijiantou.png" />
				</div>
				<div class="dcr">我的订单</div>
			</div>
		</div>
		<div id="gaikuang">
			<p class="head">其它链接</p>
			<!--<div class="tjlj">
				<p class="tjlj_l">添加更多文章链接</p>
				<input type="text" placeholder="请输入你要添加的文章链接" class="tjlj_c" />
				<div class="tjlj_r">
					<img src="__CDN__/assets/img/xmtxy/add.png" />
				</div>
			</div>-->
			<div class="lianjie">
			<!--<div class="lijie">
				<p class="qt_shu">|</p>
				<p class="linj">http//:afoijaosdjfodasjfoasjfoasjfoasjfoasjfoasjofasjofjsaodfjsoafjaosdfjos</p>
			</div>
			<div class="lijie">
				<p class="qt_shu">|</p>
				<p class="linj">http//:afoijaosdjfodasjfoasjfoasjfoasjfoasjfoasjofasjofjsaodfjsoafjaosdfjos</p>
			</div>
			<div class="lijie">
				<p class="qt_shu">|</p>
				<p class="linj">http//:afoijaosdjfodasjfoasjfoasjfoasjfoasjfoasjofasjofjsaodfjsoafjaosdfjos</p>
			</div>
			<div class="lijie">
				<p class="qt_shu">|</p>
				<p class="linj">http//:afoijaosdjfodasjfoasjfoasjfoasjfoasjfoasjofasjofjsaodfjsoafjaosdfjos</p>
			</div>
			<div class="lijie">
				<p class="qt_shu">|</p>
				<p class="linj">http//:afoijaosdjfodasjfoasjfoasjfoasjfoasjfoasjofasjofjsaodfjsoafjaosdfjos</p>
			</div>-->
		</div>
		</div>
		<div class="shujuj" style="display: none;"></div>
	</body>
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
	<script type="text/javascript" src="__CDN__/assets/js/index/js/common.js" ></script>
	<script type="text/javascript" src="__CDN__/assets/js/index/js/gqtlj.js" ></script>
</html>
