<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__CDN__/assets/css/index/xieyi.css" />
		<link rel="stylesheet" href="__CDN__/assets/css/index/lbz.css" />
	</head>
	<body>
		<div class="container"> 
			<header>
				<div class="nav_l">
					<img src="__CDN__/assets/img/shouye/logo1.png"/>
				</div>
			</header>
		</div>
		<div id="biaoti">
			<p class="biaoti"> 流量主帮助</p>
		</div>
		<div id="content">
			<h1>如何变现？</h1>
			<p class="bianxian">【头条易】作为今日头条的第三方平台，对接自媒体人和广告主，也是头条号作者变现平台。自媒体人成功入驻头条易平台以后，广告主会线上下单，系统智能匹配，有适合的软文投放会通知您。</p>
			<h1>如何查看是否入驻成功？</h1>
			<p class="bianxian">审核周期一般为1~2个工作日，如果长时间没有审核通过，可以微信扫描官网首页二维码联系【易妹儿】进行咨询。</p>
			<p class="bianxian">审核中</p>
			<img src="__CDN__/assets/img/xmtxy/1.png" />
			<p class="bianxian">审核通过</p>
			<img src="__CDN__/assets/img/xmtxy/2.png" />
			<h1>同时管理运营多个头条号怎么办？</h1>
			<p class="bianxian">如果您同时运营多个头条号，登陆后，在“头条号管理”模块，添加新的头条号即可。</p>
			<p class="bianxian">注：新添加的头条号同样需要提交相关资料并后台审核。</p>
			<img src="__CDN__/assets/img/xmtxy/3.png" />
			<img src="__CDN__/assets/img/xmtxy/4.png" />
			<p class="bianxian">点击头条号切换按钮，管理和查看相应头条号的信息。</p>
			<img src="__CDN__/assets/img/xmtxy/5.png" />
			<h1>订单在哪里查看和管理？</h1>
			<p class="bianxian">在订单管理中，可以查看项目详情，或下载项目需求文档。文章发出后，将文章链接录入，即可通知到头条易工作人员及广告主。</p>
			<img src="__CDN__/assets/img/xmtxy/6.png" />
			<h1>如何上传稿件？</h1>
			<p class="bianxian">订单一旦确认开始执行，流量主可以在“待处理任务”中看到有相应任务。任务可能是需要上传稿件（初稿或修改稿件），也可能是已经审核通过需要发布。</p>
			<p class="bianxian">上传稿件</p>
			<img src="__CDN__/assets/img/xmtxy/7.png" />
			<p class="bianxian">发布</p>
			<img src="__CDN__/assets/img/xmtxy/8.png" />
			<h1>如何查看头条号近期数据（周数据、月数据）？</h1>
			<p class="bianxian">查看头条号的周数据、月数据信息</p>
			<img src="__CDN__/assets/img/xmtxy/9.png" />
			<h1>如何上传头条号信息？上传信息对于接单有什么帮助？</h1>
			<img src="__CDN__/assets/img/xmtxy/10.png" />
			<p class="bianxian">信息提交，有助于更精准地对接广告主需求，接单的成功率更大。</p>
			<h1>其他问题怎么办？</h1>
			<p class="bianxian">其他任何问题可以微信扫描官网首页二维码联系【易妹儿】进行咨询。</p>
			<img src="__CDN__/assets/img/xmtxy/11.png" style="margin-left: 350px;" />
		</div>
	</body>
</html>
