<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="__CDN__/assets/css/index/lwjmm.css" />
	</head>
			<style>
			
			/*@media  screen and (min-width: 1000px) {
				#footer{
					margin-top: 50px;
				}
			}
			@media  screen and (min-width: 800px) {
				#footer{
					margin-top: 50px;
				} 
			}
			@media  screen and (min-width: 1200px) {
				#footer{
					margin-top: 450px;
				}
			}*/

		</style>
	<body>
		<div id="head">
			<p class="return">返回头条主页</p>
		</div>
		<div id="login_con">
			<div class="login_b">
				<div class="tty">
					<img src="__CDN__/assets/img/denglu/头条易动图.gif" />
				</div>
			</div>
		</div>
		<div id="con">
			<div class="con_c">
				<div class="conc_l">
					<div class="wen">
						<p class="wen_c">邮箱</p>
						<p class="wen_c youx">(请输入正确的邮箱)</p>
					</div> 
					<div class="in_k">
						<input type="text"class="tian you"  />
						<div class="dc">
							<!--<img  src="__CDN__/assets/img/denglu/dui.png"/>-->
						</div>
					</div>
					<div class="wen">
						<p class="wen_c">手机号</p>
						<p class="wen_c tishi">(请输入正确的手机号)</p>
					</div>
					<div class="in_k ink2">
						<input type="text"class="tian1 tian phone"  />
						<div class="dc">
							<img  src="__CDN__/assets/img/denglu/dui.png"/>
						</div>
						<input type="button" id="nn" class="tian2 yzm"  value="免费获取验证码"/>
					</div>
					<div class="wen">
						<p class="wen_c">验证码</p>
					</div> 
					<div class="in_k">
						<input type="text"class="tian yzma"  />
					</div>
					<div class="wen">
						<p class="wen_c">新密码</p>
						<p class="wen_c tmima1">(密码应不少于六位)</p>
					</div> 
					<div class="in_k">
						<input type="password"class="tian mima1"  />
						<div class="zhan">
							<img src="__CDN__/assets/img/denglu/mmbkj.png" />
						</div>
					</div>
					<div class="wen">
						<p class="wen_c">再次输入新密码</p>
						<p class="wen_c tmima">(请确保两次密码相同)</p>
					</div> 
					<div class="in_k">
						<input type="password"class="tian mima2"  />
						<div class="zhan1">
							<img src="__CDN__/assets/img/denglu/mmbkj.png" />
						</div>
					</div>
					<div class="wen">
						<p class="ti">提交</p>
					</div> 
				</div>
			</div>
		</div>
		<div id="footer">
			<p class="foot">北京头条易科技有限公司|京ICP备16042456号-1</p>
		</div>
	</body>
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
	<script type="text/javascript" src="__CDN__/assets/js/index/js/lwjmm.js" ></script>
	<script>
		var a=true;
		
		$('.zhan').click(function(){
			if(a){
			$('.mima1').attr("type","text")
			$('.zhan img').attr("src","__CDN__/assets/img/denglu/mmkj.png")
			}else{
				$('.mima1').attr("type","password")
				$('.zhan img').attr("src","__CDN__/assets/img/denglu/mmbkj.png")
			}
			a=!a;
		})
		var b=true;
		$('.zhan1').click(function(){
			if(b){
			$('.mima2').attr("type","text")
			$('.zhan1 img').attr("src","__CDN__/assets/img/denglu/mmkj.png")
			}else{
				$('.mima2').attr("type","password")
				$('.zhan1 img').attr("src","__CDN__/assets/img/denglu/mmbkj.png")
			}
			b=!b;
		})
	
	</script>
</html>

 
<script type="text/javascript">  
var wait=60;  
function time(o) {  
        if (wait == 0) {  
        		 o.style.backgroundColor = "#dc3932";
            o.removeAttribute("disabled");            
            o.value="免费获取验证码";  
             o.style.color = "#fff";
            wait = 60;  
        } else {  
        	 o.style.backgroundColor = "#efefef"
            o.setAttribute("disabled", true);  
            o.value="重新发送(" + wait + ")";  
             o.style.color = "#000";
            wait--;  
            setTimeout(function() {  
                time(o)  
            },  
            1000)  
        }  
    }  
document.getElementById("nn").onclick=function(){time(this);}  
</script>  


