<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__CDN__/assets/css/index/mtxq.css" />
		
	</head>
	<body>
		<div class="container"> 
			<header>
				<div class="nav_l">
					<img src="__CDN__/assets/img/shouye/logo1.png"/>
				</div>
			</header>
		</div>
		<div id="biaoti">
			<p class="biaoti"> 媒体详情</p>
		</div>
		<div id="content">
				{$info.content}
		</div>
	</body>
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
	<script type="text/javascript" src="__CDN__/assets/js/index/js/mtxq.js" ></script>
</html>
