<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__CDN__/assets/css/index/qtlj.css" /> 
	</head>
	<body>
		<div id="gaikuang">
			<p class="head">其它链接</p>
			<div class="tjlj">
				<p class="tjlj_l">添加更多文章链接</p>
				<input type="text" placeholder="请输入你要添加的文章链接" class="tjlj_c" />
				<div class="tjlj_r">
					<img src="__CDN__/assets/img/xmtxy/add.png" />
				</div>
			</div>
			<div class="lianjie">
			<!--<div class="lijie">
				<p class="qt_shu">|</p>
				<p class="linj">http//:afoijaosdjfodasjfoasjfoasjfoasjfoasjfoasjofasjofjsaodfjsoafjaosdfjos</p>
				<p class="tu">
					<img src="__CDN__/assets/img/xmtxy/delete.png" />
				</p>
			</div>
			<div class="lijie">
				<p class="qt_shu">|</p>
				<p class="linj">http//:afoijaosdjfodasjfoasjfoasjfoasjfoasjfoasjofasjofjsaodfjsoafjaosdfjos</p>
			</div>
			<div class="lijie">
				<p class="qt_shu">|</p>
				<p class="linj">http//:afoijaosdjfodasjfoasjfoasjfoasjfoasjfoasjofasjofjsaodfjsoafjaosdfjos</p>
			</div>
			<div class="lijie">
				<p class="qt_shu">|</p>
				<p class="linj">http//:afoijaosdjfodasjfoasjfoasjfoasjfoasjfoasjofasjofjsaodfjsoafjaosdfjos</p>
			</div>
			<div class="lijie">
				<p class="qt_shu">|</p>
				<p class="linj">http//:afoijaosdjfodasjfoasjfoasjfoasjfoasjfoasjofasjofjsaodfjsoafjaosdfjos</p>
			</div>-->
		</div>
		</div>
		<div class="shujuj" style="display: none;"></div>
	</body>
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
	<script type="text/javascript" src="__CDN__/assets/js/index/js/qtlj.js" ></script>
</html>
