<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
				

		<link rel="stylesheet" href="__CDN__/assets/css/index/quanxian.css" />
		
	</head>
	<body>
		<div id="gaikuang">
			<div class="g_head">
				<p class="g_headl">|</p>
				<p class="g_headr">每天最多发文篇数</p>
				<input type="text" class="shuz" />
				<div class="pingtai" style="margin-top: 10px;margin-left: 50px;">
					<div class="g_xuan"><input class="one" type="checkbox" name="cb1"></div>
					<p class="g_xiang" style="margin-top: 1px;">不限发文篇数</p>
				</div>
			</div>
			<!--<div class="g_jihui">
				<p class="g_jh">(易妹温馨提示：请确保信息的准确性，否则可能错失机会哦!)</p>
			</div>-->
			<ul class="g_ping">
				<!--<li class="pingtai">
					<div class="g_xuan"><input class="one" value="1" type="checkbox" name="cb1"></div>
					<p class="g_xiang">原创</p>
				</li>
				<li class="pingtai">
					<div class="g_xuan"><input class="one" value="2" type="checkbox" name="cb1"></div>
					<p class="g_xiang">双标题／双封面</p>
				</li>
				<li class="pingtai">
					<div class="g_xuan"><input class="one" value="3" type="checkbox" name="cb1"></div>
					<p class="g_xiang">商品</p>
				</li>
				<li class="pingtai">
					<div class="g_xuan"><input class="one" value="4" type="checkbox" name="cb1"></div>
					<p class="g_xiang">扩展链接</p>
				</li>
				<li class="pingtai">
					<div class="g_xuan"><input class="one" value="5" type="checkbox" name="cb1"></div>
					<p class="g_xiang">评论保护</p>
				</li>
				<li class="pingtai">
					<div class="g_xuan"><input class="one" value="6" type="checkbox" name="cb1"></div>
					<p class="g_xiang">微信</p>
				</li>
				<li class="pingtai">
					<div class="g_xuan"><input class="one" type="checkbox" name="cb1"></div>
					<p class="g_xiang">微信</p>
				</li>
				<li class="pingtai">
					<div class="g_xuan"> <input class="one" type="checkbox" name="cb1"></div>
					<p class="g_xiang">微信</p>
				</li>
				<li class="pingtai">
					<div class="g_xuan"> <input class="one" type="checkbox" name="cb1"></div>
					<p class="g_xiang">微信</p>
				</li>
				<li class="pingtai">
					<div class="g_xuan"> <input class="one" type="checkbox" name="cb1"></div>
					<p class="g_xiang">微信</p>
				</li>
				<li class="pingtai">
					<div class="g_xuan"><input class="one" type="checkbox" name="cb1"></div>
					<p class="g_xiang">微信</p>
				</li>
				<li class="pingtai">
					<div class="g_xuan"><input class="one" type="checkbox" name="cb1"></div>
					<p class="g_xiang">微信</p>
				</li>-->
			</ul>
			<div class="g_ti">提交</div>
		</div>
		<div class="aa"></div>
	</body>
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
	<script type="text/javascript" src="__CDN__/assets/js/index/js/quanxian.js" ></script>
</html>
