<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__CDN__/assets/css/index/shouye.css" />
		<link rel="stylesheet" href="__CDN__/assets/css/index/icommon.css" />
		<!--<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>-->
		<script type="text/javascript" src="__CDN__/assets/js/jquery.js" ></script>
		<link rel="stylesheet" href="__CDN__/assets/css/index/swiper-3.4.1.min.css">
		<script type="text/javascript" src="__CDN__/assets/js/index/js/shouye.js" ></script>
		<script type="text/javascript" src="__CDN__/assets/js/index/js/swiper-3.4.1.min.js" ></script>
		<script>
			
		</script>
		<style>
			@media  screen and (min-width: 1000px) {
				#content{
					height: 1020px;
					
				}
					body{
					height: 1257px;
				}
			}
			@media  screen and (min-width: 710px) {
				#content{
					height: 1020px;
				}
				body{
					height: 1257px;
				}
			}
			@media  screen and (min-width: 1280px) {
				#content{
				height: 675px;
				}
				.content{
					width: 650px;
				}
				.content_h{
					line-height: 20px;
				}
				.yzm{
					font-size: 12px;
				}
				body{
					height: 675px;
										
				}
				.tong{
						font-size: 10px;
					}
				.tou{
					font-size: 8px;
				}
				.name{
					font-size: 8px;
				}
				.yl{
					font-size: 8px;
				}
			}
		</style>
    <style>
    	html, body {
        position: relative;
        height: 100%;
    }
    body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color:#000;
        margin: 0;
        padding: 0;
    }
    .swiper-button-prev{
    	/*background: pink;*/
    	
    }
    .swiper-container {
        /*width: 1200px;*/
        /*height: 400px;*/
       width: 100%;
       height: 100%;
        /*background: pink;*/
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .swiper-slide img{
    	height:400px;
    	width: 1920px;
    }
    .banner_b{
    	background: #FFFFFF;
    }
     .lunbo{
    	height: 400px;
    	width: 1200px;
    	/*background: red;*/
    	/*margin: 0 auto;*/
    }
    .lunbo img{
    		height: 400px;
   	 	width: 1200px;
   	 	
    }
    </style>

	</head>
	<body>
		<div id="container" class="co">
			<!-------------------------------------------nav------------------------------------------->
			<div id="nav">
				<div class="nav_l n_conmment">
					<img src="__CDN__/assets/img/shouye/logo1.png"/>
				</div>
				<div class="nav_c n_conmment">
					<ul class="nav_cc">
						<li class="zhuye se">首页</li>
						<li class="bangd">榜单</li>
						<li class="xmtxy">新媒体学院</li>
						<li class="chanpin">产品</li>
						<li class="gywm">关于我们</li>
						<li class="anl">成功案例</li>
					</ul>
					<div class="z_nav">
						<div class="z_top">
							<img src="__CDN__/assets/img/shouye/xtsj.png" />
						</div>
						<div class="z_bottom">
							<p class="tout tw1 ttb">头条榜</p>
							<p class="baow tw1 bwb">爆文榜</p>
						</div>
					</div>
					<div class="z_nav2">
						<div class="z_top">
							<img src="__CDN__/assets/img/shouye/xtsj.png" />
						</div>
						<div class="z_bottom">
							<p class="tout tw1">公司介绍</p>
							<p class="baow tw1">豹纹榜</p>
							<p class="tout tw1">头条榜</p>
							<p class="baow tw1">豹纹榜</p>
							<p class="tout tw1">头条榜</p>
							<p class="baow tw1">豹纹榜</p>
						</div>
					</div>
					{if condition="$name"}
					<!--已登陆状态-->
					<div class="z_nav5">
						<div class="z_top5">
							<img src="__CDN__/assets/img/shouye/xtsj.png" />
						</div>
						<div class="z_bottom5">
							<p class="tout tw15 ggz">返回我的主页</p>
							<!--
							<p class="tout tw15 ggz">进入广告组</p>
							<p class="baow tw15 llz">进入流量组</p>-->
							<p class="tout tw15 tuichu">退出登录</p>
						</div>
					</div>
					<!--未登陆状态-->
					{else /}
					<div class="z_nav3">
						<div class="z_top">
							<img src="__CDN__/assets/img/shouye/xtsj.png" />
						</div>
						<div class="z_bottom">
							<!--<p class="tout tw1">返回我的主页</p>-->
							<p class="baow tw1 ggzdl">广告主登录</p>
							<p class="tout tw1 llzdl">流量主登录</p>
						</div>
					</div>
					{/if}
				</div>
				<div class="nav_r n_conmment">
					{if condition="$name"}
					<p class="deng">{$name}</p>
					{else/}
					<p class="deng">登录</p>
					{/if}
					<p class="shu1">|</p>
					<p class="zhu">注册</p>
					<div class="z_nav4">
						<div class="z_top4">
							<img src="__CDN__/assets/img/shouye/xtsj.png" />
						</div>
						<div class="z_bottom4">							
							<p class="baow tw1 llzzc">广告主注册</p>
							<p class="tout tw1 ggzzc">流量主注册</p>
							<!--<p class="tout tw1">退出登陆</p>-->
						</div>
					</div>
				</div>
			</div>
			</div>
		
			<!---------------------------------------------banner--------------------------------------------------->
			<div class="banner_b">
			<div class="swiper-container swiper-container-horizontal">
		        <!--<div class="swiper-wrapper">
					{volist name="faocus" id="vo"}
					<div class="swiper-slide">
						<img src="{$vo.image}"/>
					</div>
					{/volist}
		        </div>-->

		        <!--url里面放的是背景图， img src里面放的主图片-->
		        <div class="swiper-wrapper lunbo">
					{volist name="faocus" id="vo"}
		            <div class="swiper-slide" style="background-image: url({$vo.image1});background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;">
		            
		            			<div class="lunbo">
		            				<img src="{$vo.image}" />
		            			</div>
		            		
		            </div>
					{/volist}
		        </div>
		        
		        <!-- Add Pagination -->
		        <div class="swiper-pagination"></div>
		        <!-- Add Arrows -->
		        <div class="swiper-button-next">
		        		<!--<img src="__CDN__/assets/img/shouye/lubbo-rightt.png" />-->
		        </div>
		        <div class="swiper-button-prev"></div>
			</div>
			</div>
		
		<!-----------------------------------------------滚动广告---------------------------------------------------->
		<div class="gg_k">
		<div id="gg">
			<div class="gb">
				<img src="__CDN__/assets/img/shouye/tz.png" />
			</div>
			<div class="shell">
				  <div id="div1">
					  {volist name="roll" id="vo"}
					  <a class="a_group" href="javascript:">{$vo.title}</a>
					  {/volist}
				  </div>
			</div>
		</div>
		</div>
		</div>
		<!-----------------------------------------------媒体数量------------------------------------------------>
		<div id="rz">
			<div class="mtsl">
				<div class="mtsl_t">
					<p class="num">累计入驻自媒体数量:{$countgenre}</p>
				</div>
<a  onMouseOver="btn(1)" style="font-family:仿宋;font-size: 20px;color: #DC3932;">娱乐</a>　<a  onMouseOver="btn(2)" style="font-family:仿宋;font-size: 20px;color: #DC3932;">健康</a>　
<a  onMouseOver="btn(3)" style="font-family:仿宋;font-size: 20px;color: #DC3932;">历史</a>　<a  onMouseOver="btn(4)" style="font-family:仿宋;font-size: 20px;color: #DC3932;">军事</a>
<br /><br />
<a  onclick="btn(1)" style="font-family:宋;font-size: 20px;color: #DC3932;">娱乐</a>　<a  onclick="btn(2)" style="font-family:宋;font-size: 20px;color: #DC3932;">健康</a>　
<a  onclick="btn(3)" style="font-family:宋;font-size: 20px;color: #DC3932;">历史</a>　<a  onclick="btn(4)" style="font-family:宋;font-size: 20px;color: #DC3932;">军事</a>

									<div class="bg-img" id="box1" style="display:;">
										<div style="width: 1200px;height: 300px;background: #EFEFEF;">
											<div class="lf">
												<img src="__CDN__/assets/img/shouye/娱乐－彩.png" />
											</div>
											<div class="rt">
												{volist name="kol0" id="vo"}
												<div class="rt_c">
													<div class="rtc_t">
														<div class="rtc_l">
															<img src="{$vo.image}" />
														</div>
														<div class="rtc_r">
															<p class="head">{$vo.name}</p>
															<p class="bottom">粉丝量：{$vo.fans}</p>
														</div>
													</div>
													<div class="rtc_b">
														<p class="jies">{$vo.content}</p>
														<p class="hz">合作</p>
													</div>
												</div>
												{/volist}
											</div>
											
										</div>
									</div>
									<div class="bg-img" id="box2" style="display:none;">
										<div style="width: 1200px;height: 300px;background: #EFEFEF;">
											<div class="lf">
												<img src="__CDN__/assets/img/shouye/jiankang.png" />
											</div>
											<div class="rt">
												{volist name="kol1" id="vo"}
												<div class="rt_c">
													<div class="rtc_t">
														<div class="rtc_l">
															<img src="{$vo.image}" />
														</div>
														<div class="rtc_r">
															<p class="head">{$vo.name}</p>
															<p class="bottom">粉丝量：{$vo.fans}</p>
														</div>
													</div>
													<div class="rtc_b">
														<p class="jies">{$vo.content}</p>
														<p class="hz">合作</p>
													</div>
												</div>
												{/volist}
											</div>
											
										</div>
									</div>
									<div class="bg-img" id="box3" style="display:none;">
										<div style="width: 1200px;height: 300px;background: #EFEFEF;">
											<div class="lf">
												<img src="__CDN__/assets/img/shouye/lishi.png" />
											</div>
											<div class="rt">
												{volist name="kol2" id="vo"}
												<div class="rt_c">
													<div class="rtc_t">
														<div class="rtc_l">
															<img src="{$vo.image}" />
														</div>
														<div class="rtc_r">
															<p class="head">{$vo.name}</p>
															<p class="bottom">粉丝量：{$vo.fans}</p>
														</div>
													</div>
													<div class="rtc_b">
														<p class="jies">{$vo.content}</p>
														<p class="hz">合作</p>
													</div>
												</div>
												{/volist}
											</div>
											
										</div>
									</div>
									
											
									<div class="bg-img" id="box4" style="display:none;">
										<div style="width: 1200px;height: 300px;background: #EFEFEF;">
											<div class="lf">
												<img src="__CDN__/assets/img/shouye/junshi.png" />
											</div>
											<div class="rt">
											{volist name="kol3" id="vo"}
											<div class="rt_c">
												<div class="rtc_t">
													<div class="rtc_l">
														<img src="{$vo.image}" />
													</div>
													<div class="rtc_r">
														<p class="head">{$vo.name}</p>
														<p class="bottom">粉丝量：{$vo.fans}</p>
													</div>
												</div>
												<div class="rtc_b">
													<p class="jies">{$vo.content}</p>
													<p class="hz">合作</p>
												</div>
											</div>
											{/volist}
										</div>
											
										</div>
									</div>		
<script type="text/javascript">
var box1=document.getElementById('box1');
var box2=document.getElementById('box2');
var box3=document.getElementById('box3');
var box4=document.getElementById('box4');
function btn(a){ 
	if(a==1){
		box1.style.display='';
		box2.style.display='none';
		box3.style.display='none';
		box4.style.display='none';
 }
 if(a==2){
		box1.style.display='none';
		box2.style.display='';
		box3.style.display='none';
		box4.style.display='none';
}
 if(a==3){
		box1.style.display='none';
		box2.style.display='none';
		box3.style.display='';
		box4.style.display='none';
}
 if(a==4){
		box1.style.display='none';
		box2.style.display='none';
		box3.style.display='none';
		box4.style.display='';
}
}
</script>						
			</div>
		</div>


		
		
		
			<!-----------------------------------------成功案例（line是边框特效）-------------------------------------->
			<div class="moviex">
				<div class="movie">
					<div class="movie_h">
						<p class="anli">成功案例</p>
					</div>
					<div class="movie_b">
						<ul class="moviecon_h">
							{volist name="anli" id="vo"}
							<li>{$vo.title}</li>
							{/volist}
						</ul>
						<div class="moviecon_b anlixian">

							<div class="moviecon_l">
								<a href="/index/Anli"><img src="{$anli.0.content.0.image}" /></a>
							</div>
							<div class="moviecon_r">
								<ul class="al_title">
									{volist name="$anli.0.content" id="cvo"}
									<li>
										<div class="jian">
											<img src="__CDN__/assets/img/xmtxy/news-biao.png" />
										</div>
										<p class="a_title"><a href="/index/Alixq?cid={$cvo.id}">{$cvo.title}</a></p>
									</li>
									{/volist}
								</ul>
							</div>
						</div>

						<div class="moviecon_b">
							<div class="moviecon_l">
								<a href="/index/Anli"><img src="{$anli.1.content.0.image}" /></a>
							</div>
							<div class="moviecon_r">
								<ul class="al_title">
									{volist name="$anli.1.content" id="cvo"}
									<li>
										<div class="jian">
											<img src="__CDN__/assets/img/xmtxy/news-biao.png" />
										</div>
										<p class="a_title"><a href="/index/Alixq?cid={$cvo.id}">{$cvo.title}</a></p>
									</li>
									{/volist}
								</ul>
							</div>
						</div>

						<div class="moviecon_b">
							<div class="moviecon_l">
								<a href="/index/Anli"><img src="{$anli.2.content.0.image}" /></a>
							</div>
							<div class="moviecon_r">
								<ul class="al_title">
									{volist name="$anli.2.content" id="cvo"}
									<li>
										<div class="jian">
											<img src="__CDN__/assets/img/xmtxy/news-biao.png" />
										</div>
										<p class="a_title"><a href="/index/Alixq?cid={$cvo.id}">{$cvo.title}</a></p>
									</li>
									{/volist}
								</ul>
							</div>
						</div>

						<div class="moviecon_b">
							<div class="moviecon_l">
								<a href="/index/Anli"><img src="{$anli.3.content.0.image}" /></a>
							</div>
							<div class="moviecon_r">
								<ul class="al_title">
									{volist name="$anli.3.content" id="cvo"}
									<li>
										<div class="jian">
											<img src="__CDN__/assets/img/xmtxy/news-biao.png" />
										</div>
										<p class="a_title"><a href="/index/Alixq?cid={$cvo.id}">{$cvo.title}</a></p>
									</li>
									{/volist}
								</ul>
							</div>
						</div>
						
					</div>
					
					
				</div>
			</div>
		<!-----------------------------------------合作伙伴------------------------------------------------->
		<div id="hezuo">
			<div class="hezuo">
				<div class="hezuo_t">
					<p class="hezuo_p">合作伙伴</p>
				</div>
				<div class="hezuo_c">
				</div>
				<ul class="hezuo_b">

					{volist name="log" id="vo"}
					<li class="pic">
						<img src="{$vo.image}" />
					</li>
					{/volist}

				</ul>
			</div>
		</div>
		<!-------------------------------------联系我们----------------------------------------->
		<div id="lianx">
			<div class="lianx">
				<div class="lianx_t">
					<p class="lianx_p">联系我们</p>
				</div>
				<div class="lianx_b">
					<div class="lianxb_l">
						<div class="email">
							<div class="email_l">
								<img src="__CDN__/assets/img/shouye/iconfont-youxiang.png" />
							</div>
							<p class="email_r">邮箱：hezuo@toutiaoeasy.cn</p>
						</div>
						<div class="email phone">
							<div class="email_l">
								<img src="__CDN__/assets/img/shouye/iconfont-dianhua.png" />
							</div>
							<p class="email_r">电话：010-65212180</p>
						</div>
						<div class="email dizhi">
							<div class="email_l">
								<img src="__CDN__/assets/img/shouye/iconfont-place.png" />
							</div>
							<p class="email_r">地址：东城文化人才国际创业园301室</p>
						</div>
					</div>
				<div class="lianxb_r">
					<div class="lianxbr_l">
						<div class="ewm_t">
							<img src="__CDN__/assets/img/shouye/微信公众号.png" />
						</div>
						<div class="ewm_b">
							<p class="wx">微信公众号</p>
						</div>
					</div>
					<div class="lianxbr_l kefu">
						<div class="ewm_t">
							<img src="__CDN__/assets/img/shouye/kewm.png" />
						</div>
						<div class="ewm_b">
							<p class="wx">商务合作客服</p>
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>
		<div id="bot">
			<div class="bot">北京头条易科技有限公司 | 京ICP备16042456号-1</div>
		</div>
		<div class="ewm">
		
			<div class="ke">
				<img src="__CDN__/assets/img/denglu/kefu.png" />
			</div>
			<p class="yi">易妹儿</p>
			<div class="ma">
				<img src="__CDN__/assets/img/shouye/kewm.png" />
			</div>
		</div>
	</body>
	<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        paginationClickable: true,
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: 2500,
        autoplayDisableOnInteraction: true,
        observer:true,
        observeparents:true
    });
    </script>
	<script language="javascript">
	var box=document.getElementById("div1"),can=true;
	box.innerHTML+=box.innerHTML;
	box.onmouseover=function(){can=false};
	box.onmouseout=function(){can=true};
	new function (){
	 var stop=box.scrollTop%18==0&&!can;
	 if(!stop)box.scrollTop==parseInt(box.scrollHeight/2)?box.scrollTop=0:box.scrollTop++;
	 setTimeout(arguments.callee,box.scrollTop%18?10:1500);
	};
	</script>
	<script>
		$('.moviecon_h li:first-of-type').addClass('anlibs')
		$('.moviecon_h li').click(function(){
			$(this).addClass('anlibs').siblings().removeClass('anlibs')
			$('.moviecon_b').eq( $(this).index() ).addClass('anlixian').siblings().removeClass('anlixian');
		})
	</script>
</html>
