<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__CDN__/assets/css/index/tthgl.css" />
		<link rel="stylesheet" type="text/css" href="__CDN__/assets/css/index/pagination.css" media="screen">

	</head>
	<body>
		<div id="gaikuang">
			<div class="tthg_k">
				<ul class="ddgl_cc">
					<li class="tthn tthn1">头条号名称</li>
					<li class="tthn tthn2">头条号主页链接</li>
					<li class="tthn tthn3">是否支持撰稿</li>
					<li class="tthn tthn4">操作</li>
					
				</ul>
				<div class="tt_con">
				<!--<ul class="ddgl_c2">
					<li class="tth_c c1">
						<p class="tth_p">剧说微世界</p>
					</li>
					<li class="tth_c c2">
						<p class="tth_p">微说世界</p>
					</li>
					<li class="tth_c c3">
						<p class="tth_p">支持</p>
					</li>
					<li class="tth_c c5">
						<p class="tth_p p3">解除绑定</p>
					</li>
				</ul>
				
				<ul class="ddgl_c2">
					<li class="tth_c c1">
						<p class="tth_p">剧说微世界</p>
					</li>
					<li class="tth_c c2">
						<p class="tth_p">微说世界</p>
					</li>
					<li class="tth_c c3">
						<p class="tth_p">支持</p>
					</li>
					<li class="tth_c c5">
						<p class="tth_p p2">待审核</p>
					</li>
				</ul>
				<ul class="ddgl_c2">
					<li class="tth_c c1">
						<p class="tth_p">剧说微世界</p>
					</li>
					<li class="tth_c c2">
						<p class="tth_p">微说世界</p>
					</li>
					<li class="tth_c c3">
						<p class="tth_p">支持</p>
					</li>
					<li class="tth_c c5">
						<p class="tth_p p2">待审核</p>
					</li>
				</ul>
				<ul class="ddgl_c2">
					<li class="tth_c c1">
						<p class="tth_p">剧说微世界</p>
					</li>
					<li class="tth_c c2">
						<p class="tth_p">微说世界</p>
					</li>
					<li class="tth_c c3">
						<p class="tth_p">支持</p>
					</li>
					<li class="tth_c c5">
						<p class="tth_p p2">待审核</p>
					</li>
				</ul>
				<ul class="ddgl_c2">
					<li class="tth_c c1">
						<p class="tth_p">剧说微世界</p>
					</li>
					<li class="tth_c c2">
						<p class="tth_p">微说世界</p>
					</li>
					<li class="tth_c c3">
						<p class="tth_p">支持</p>
					</li>
					<li class="tth_c c5">
						<p class="tth_p p2">待审核</p>
					</li>
				</ul>
				<ul class="ddgl_c2">
					<li class="tth_c c1">
						<p class="tth_p">剧说微世界</p>
					</li>
					<li class="tth_c c2">
						<p class="tth_p">微说世界</p>
					</li>
					<li class="tth_c c3">
						<p class="tth_p">支持</p>
					</li>
					<li class="tth_c c5">
						<p class="tth_p p2">待审核</p>
					</li>
				</ul>
				<ul class="ddgl_c2">
					<li class="tth_c c1">
						<p class="tth_p">剧说微世界</p>
					</li>
					<li class="tth_c c2">
						<p class="tth_p">微说世界</p>
					</li>
					<li class="tth_c c3">
						<p class="tth_p">支持</p>
					</li>
					<li class="tth_c c5">
						<p class="tth_p p2">待审核</p>
					</li>
				</ul>
				<ul class="ddgl_c2">
					<li class="tth_c c1">
						<p class="tth_p">剧说微世界</p>
					</li>
					<li class="tth_c c2">
						<p class="tth_p">微说世界</p>
					</li>
					<li class="tth_c c3">
						<p class="tth_p">支持</p>
					</li>
					<li class="tth_c c5">
						<p class="tth_p p2">待审核</p>
					</li>
				</ul>-->
				</div>
			</div>
			<div class="fen">
				<!--<div class="M-box1"></div>-->
			</div>
			<a href="Tttt"><div class="tij">添加头条号</div></a>  
		</div>
		<div class="ze">
			<div class="ze_c">
				<div class="ze_t">
					<p class="jie">解除绑定</p>
				</div>
				<div class="ze_cc">
					<p>确定解除你绑定的头条号?</p>
				</div>
				<div class="ze_b">
					<p class="que">确定</p>
					<p class="que q2">取消</p>
				</div>
			</div>
		</div>
		<div class="idd"></div>
	</body>
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
	<script type="text/javascript" src="__CDN__/assets/js/index/js/tthgl.js" ></script>
	<script src="__CDN__/assets/js/index/js/jquery.pagination.js"></script>
	<script>
		 $('.M-box1').pagination({
                    totalData:100,
                    showData:5,
                    coping:true,
                    callback:function(api){
                    	var b=api.getCurrent()
                    	alert(b)
                    	if(b>="5"){
                    		$('.M-box1').css("margin-left","15%")
                    	}else{
                    		$('.M-box1').css("margin-left","30%")
                    	}
				        var data = {
				            page: api.getCurrent(),
				            name: 'mss',
				            say: 'oh'
				        };
//				        $.getJSON('http://localhost:3000/data.json',data,function(json){
//				            console.log(json);
//				        });
   					 }
                });
	</script>
</html>
