<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__CDN__/assets/css/index/tttt.css" />
	</head>
	<body>
		<div id="gaikuang">
			<div class="tttt_k">
				<div class="tjtth">
					<p class="tt_shu">|</p>
					<p class="tt_tj">添加头条号</p>
				</div>
				
				<div class="tjtth t1">
					<p class="tt_tj tt_tt">头条号名称</p>
					<input type="text"  class="shur username"/>
				</div>
				<div class="tjtth t1">
					<p class="tt_tj tt_tt">头条号主页链接</p>
					<input type="text"  class="shur shur2 link"/>
					<p class="tt_tj yangli yangli1">查看样例</p>
				</div>
				<div class="tjtth t1">
					<p class="tt_tj tt_tt">头条号后台管理截图</p>
					<div class="shur shur3">
						<div class="cbg"></div>
						<form id="form1" enctype="multipart/form-data">
						<input class="name_s chuan" name="file" type="file" placeholder="本地上传"  />
						</form>
					</div>
					
					<p class="tt_tj yangli yangli2">查看样例</p>
				</div>
				<div class="tjtth t1">
					<p class="tt_tj tt_tt">是否支持撰稿</p>
					<div class="shur shur4">
						<input type="radio" class="shi" value="1"  name="zhuan" />
						<p class="si">是</p>
						<input type="radio" class="shi ss2" value="0" name="zhuan" />
						<p class="si">否</p>
					</div>
				</div>
				<div class="tjtth t2">
					<p class="bct bct1">保存并继续添加头条号</p>
					<p class="bct bc">保存</p>
				</div>
			</div>
		</div>
		<div class="ze1">
			<img src="__CDN__/assets/img/denglu/62BB3E32A509FB6CC698408E497AA55A.jpg" />
		</div>
		<div class="ze2">
			<img src="__CDN__/assets/img/denglu/30671DFE240AA871FC4E62CF56551E38.jpg" />
		</div>
	</body>
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
	<script type="text/javascript" src="__CDN__/assets/js/index/js/tttt.js" ></script>
</html>
