<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__CDN__/assets/css/index/xxtz2.css" /> 
		<link rel="stylesheet" href="__CDN__/assets/css/index/common.css" />
	</head>
	<body>
		<div id="g_head">
			<div id="g_head">
			<div class="g_head">
				<div class="nav_l n_conmment">
					<img src="__CDN__/assets/img/shouye/logo1.png"/>
				</div>
				<ul class="g_con">
					<li>
						<div class="li_l">
							<img src="__CDN__/assets/img/xmtxy/shouye-dangqian.png" />
						</div>
						<p class="li_r shouye">主页</p>
					</li>
					
					<li>
						<div class="li_l">
							<img src="__CDN__/assets/img/xmtxy/xuanhaoche-moren.png" />
						</div>
						<p class="li_r xhc">选号车</p>
					</li>
					<li>
						<div class="li_l">
							<img src="__CDN__/assets/img/xmtxy/dingdan-moren.png" />
						</div>
						<p class="li_r wddd">我的订单</p>
					</li>
					<li>
						<div class="li_l">
							<img src="__CDN__/assets/img/xmtxy/shoucangjia-moren.png" />
						</div>
						<p class="li_r scj">收藏夹</p>
					</li>
					<li>
						<div class="li_l">
							<img src="__CDN__/assets/img/xmtxy/daichulirenwu-moren.png" />
						</div>
						<p class="li_r dclrw">待处理任务</p>
					</li>
					<li>
						<div class="li_l">
							<img src="__CDN__/assets/img/xmtxy/help-moren.png" />
						</div>
						<p class="li_r gbz">帮助</p>
					</li>
				</ul>
				<div class="deng">
						<div class="tss">
							<img src="__CDN__/assets/img/xmtxy/xiaoxi.png" />
						</div>
						<!--<div class="z_nav2">
							<div class="z_top">
								<img src="__CDN__/assets/img/shouye/xtsj.png" />
							</div>
							<div class="z_bottom">
								<p class="tout tw1 ttw">消息通知</p>
								<div class="xxx_con">
							
								</div>
							
							</div>
					</div>-->
				</div>
				
				<div class="login">
					<p class="log">账户：{$name}</p>
					<!--<p class="log">退出</p>-->
					<div class="z_nav3">
						<div class="z_top">
							<img src="__CDN__/assets/img/shouye/xtsj.png" />
						</div>
						<div class="z_bottom">
							<p class="tout tw1 zhuye">返回首页</p>
							<p class="baow tw1 xgmm">修改密码</p>
							<p class="tout tw1 tuichu">退出登录</p>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		</div>
		<div id="gaikuang">
			<div class="xxtz_k">
				<div class="xx_t">
					<p>消息通知</p>
				</div>
				<ul class="xx_list">
					<!--<li>
						<div class="ling">
							<img src="__CDN__/assets/img/xmtxy/tongzhi-weidu-.png" />
						</div>
						<div class="xx_con">
							<p class="xxc">【系统】欢迎参加新媒体大会</p>
						</div>
						<div class="xx_r">
							<p class="time">2017年7月12日</p>
						</div>
					</li>
					<li>
						<div class="ling">
							<img src="img/xmtxy/tongzhi-weidu-.png" />
						</div>
						<div class="xx_con">
							<p class="xxc">【系统】欢迎参加新媒体大会</p>
						</div>
						<div class="xx_r">
							<p class="time">2017年7月12日</p>
						</div>
					</li>
					<li>
						<div class="ling">
							<img src="img/xmtxy/tongzhi-weidu-.png" />
						</div>
						<div class="xx_con">
							<p class="xxc">【系统】欢迎参加新媒体大会</p>
						</div>
						<div class="xx_r">
							<p class="time">2017年7月12日</p>
						</div>
					</li>
					<li>
						<div class="ling">
							<img src="img/xmtxy/tongzhi-weidu-.png" />
						</div>
						<div class="xx_con">
							<p class="xxc">【系统】欢迎参加新媒体大会</p>
						</div>
						<div class="xx_r">
							<p class="time">2017年7月12日</p>
						</div>
					</li>
					<li>
						<div class="ling">
							<img src="img/xmtxy/tongzhi-weidu-.png" />
						</div>
						<div class="xx_con">
							<p class="xxc">【系统】欢迎参加新媒体大会</p>
						</div>
						<div class="xx_r">
							<p class="time">2017年7月12日</p>
						</div>
					</li>
					<li>
						<div class="ling">
							<img src="img/xmtxy/tongzhi-weidu-.png" />
						</div>
						<div class="xx_con">
							<p class="xxc">【系统】欢迎参加新媒体大会</p>
						</div>
						<div class="xx_r">
							<p class="time">2017年7月12日</p>
						</div>
					</li>
					<li>
						<div class="ling">
							<img src="img/xmtxy/tongzhi-weidu-.png" />
						</div>
						<div class="xx_con">
							<p class="xxc">【系统】欢迎参加新媒体大会</p>
						</div>
						<div class="xx_r">
							<p class="time">2017年7月12日</p>
						</div>
					</li>
					<li>
						<div class="ling">
							<img src="img/xmtxy/tongzhi-weidu-.png" />
						</div>
						<div class="xx_con">
							<p class="xxc">【系统】欢迎参加新媒体大会</p>
						</div>
						<div class="xx_r">
							<p class="time">2017年7月12日</p>
						</div>
					</li>
					<li>
						<div class="ling">
							<img src="img/xmtxy/tongzhi-weidu-.png" />
						</div>
						<div class="xx_con">
							<p class="xxc">【系统】欢迎参加新媒体大会</p>
						</div>
						<div class="xx_r">
							<p class="time">2017年7月12日</p>
						</div>
					</li>
					<li>
						<div class="ling">
							<img src="img/xmtxy/tongzhi-weidu-.png" />
						</div>
						<div class="xx_con">
							<p class="xxc">【系统】欢迎参加新媒体大会</p>
						</div>
						<div class="xx_r">
							<p class="time">2017年7月12日</p>
						</div>
					</li>
					<li>
						<div class="ling">
							<img src="img/xmtxy/tongzhi-weidu-.png" />
						</div>
						<div class="xx_con">
							<p class="xxc">【系统】欢迎参加新媒体大会</p>
						</div>
						<div class="xx_r">
							<p class="time">2017年7月12日</p>
						</div>
					</li>
					<li>
						<div class="ling">
							<img src="img/xmtxy/tongzhi-weidu-.png" />
						</div>
						<div class="xx_con">
							<p class="xxc">【系统】欢迎参加新媒体大会</p>
						</div>
						<div class="xx_r">
							<p class="time">2017年7月12日</p>
						</div>
					</li>-->
				</ul>
			</div>
		</div>
		
	</body>
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
	<script type="text/javascript" src="__CDN__/assets/js/index/js/xxtz2.js" ></script>
	<script type="text/javascript" src="__CDN__/assets/js/index/js/common.js" ></script>
</html>
