<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__CDN__/assets/css/index/xxtz.css" /> 
	</head>
	<body>
		<div id="gaikuang">
			<div class="xxtz_k">
				<div class="xx_t">
					<p>消息通知</p>
				</div>
				<ul class="xx_list">
					<!--<li>
						<div class="ling">
							<img src="img/xmtxy/tongzhi-weidu-.png" />
						</div>
						<div class="xx_con">
							<p class="xxc">【系统】欢迎参加新媒体大会</p>
						</div>
						<div class="xx_r">
							<p class="time">2017年7月12日</p>
						</div>
					</li>
					<li>
						<div class="ling">
							<img src="img/xmtxy/tongzhi-weidu-.png" />
						</div>
						<div class="xx_con">
							<p class="xxc">【系统】欢迎参加新媒体大会</p>
						</div>
						<div class="xx_r">
							<p class="time">2017年7月12日</p>
						</div>
					</li>
					<li>
						<div class="ling">
							<img src="img/xmtxy/tongzhi-weidu-.png" />
						</div>
						<div class="xx_con">
							<p class="xxc">【系统】欢迎参加新媒体大会</p>
						</div>
						<div class="xx_r">
							<p class="time">2017年7月12日</p>
						</div>
					</li>
					<li>
						<div class="ling">
							<img src="img/xmtxy/tongzhi-weidu-.png" />
						</div>
						<div class="xx_con">
							<p class="xxc">【系统】欢迎参加新媒体大会</p>
						</div>
						<div class="xx_r">
							<p class="time">2017年7月12日</p>
						</div>
					</li>
					<li>
						<div class="ling">
							<img src="img/xmtxy/tongzhi-weidu-.png" />
						</div>
						<div class="xx_con">
							<p class="xxc">【系统】欢迎参加新媒体大会</p>
						</div>
						<div class="xx_r">
							<p class="time">2017年7月12日</p>
						</div>
					</li>
					<li>
						<div class="ling">
							<img src="img/xmtxy/tongzhi-weidu-.png" />
						</div>
						<div class="xx_con">
							<p class="xxc">【系统】欢迎参加新媒体大会</p>
						</div>
						<div class="xx_r">
							<p class="time">2017年7月12日</p>
						</div>
					</li>
					<li>
						<div class="ling">
							<img src="img/xmtxy/tongzhi-weidu-.png" />
						</div>
						<div class="xx_con">
							<p class="xxc">【系统】欢迎参加新媒体大会</p>
						</div>
						<div class="xx_r">
							<p class="time">2017年7月12日</p>
						</div>
					</li>
					<li>
						<div class="ling">
							<img src="img/xmtxy/tongzhi-weidu-.png" />
						</div>
						<div class="xx_con">
							<p class="xxc">【系统】欢迎参加新媒体大会</p>
						</div>
						<div class="xx_r">
							<p class="time">2017年7月12日</p>
						</div>
					</li>
					<li>
						<div class="ling">
							<img src="img/xmtxy/tongzhi-weidu-.png" />
						</div>
						<div class="xx_con">
							<p class="xxc">【系统】欢迎参加新媒体大会</p>
						</div>
						<div class="xx_r">
							<p class="time">2017年7月12日</p>
						</div>
					</li>
					<li>
						<div class="ling">
							<img src="img/xmtxy/tongzhi-weidu-.png" />
						</div>
						<div class="xx_con">
							<p class="xxc">【系统】欢迎参加新媒体大会</p>
						</div>
						<div class="xx_r">
							<p class="time">2017年7月12日</p>
						</div>
					</li>
					<li>
						<div class="ling">
							<img src="img/xmtxy/tongzhi-weidu-.png" />
						</div>
						<div class="xx_con">
							<p class="xxc">【系统】欢迎参加新媒体大会</p>
						</div>
						<div class="xx_r">
							<p class="time">2017年7月12日</p>
						</div>
					</li>
					<li>
						<div class="ling">
							<img src="img/xmtxy/tongzhi-weidu-.png" />
						</div>
						<div class="xx_con">
							<p class="xxc">【系统】欢迎参加新媒体大会</p>
						</div>
						<div class="xx_r">
							<p class="time">2017年7月12日</p>
						</div>
					</li>-->
				</ul>
			</div>
		</div>
		
	</body>
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
	<script type="text/javascript" src="__CDN__/assets/js/index/js/xxtz.js" ></script>
</html>
