
#navn{
	width: 1152px;
	padding: 20px 24px 20px 24px;
	margin: 0 auto;
	margin-top: 20px;
}
.navn_l{
	width: 78px;
	height: 24px;
	float: left;
}
.navn_r{
	width: 1074px;
	font-size: 16px;
	overflow: hidden;
	zoom: 1;
}
.n_shu{
	font-size: 16px;
	font-weight: 700;
	color: red;
	float: left;
}
.lei{
	font-size: 16px;
	color: #222123;
	float: left;
	margin-left: 15px;
}
.navn_r li{
	float: left;
	font-size: 16px;
	margin-right: 20px;
	line-height: 24px;
}
.navn_r li:hover{
	background: red;
	color: #FFFFFF;
	border-radius: 4px;
	line-height: 24px;
}
.daoh{
	height: 83px;
	width: 1200px;
	margin: 0 auto;
}
.bang{
	height: 42px;
	width: 400px;
	float: left;
	margin: 20px 0 0 350px;
	border-radius: 8px;
	border: 1px solid #f85959;
}
.zbang{
	height: 42px;
	width: 200px;
	float: left;
	background: #FFFFFF;
	text-align: center;
	line-height: 42px;
	font-size: 18px;
}
.zbang1{
	background: #F85959;
	border-radius: 8px 0 0 8px;
	color: #FFFFFF;
}
.zbang2{
	background: #FFFFFF;
	border-radius: 0 8px 8px 0;
	color: #222123;
}
#list{
	height: 720px;
	width: 1200px;
	margin: 0 auto;
}
.list_l{
	width: 1200px;
	height: 100%;
	float: left;
}
.list_r{
	width: 140px;
	height: 320px;
	float: left;
	margin-left: 20px;
	padding: 20px 20px;
}
.list_t{
	height: 50px;
	width: 1200px;
}
.list_tl{
	width: 240px;
	height: 50px;
	background: #f85959;
	text-align: center;
	line-height: 50px;
	font-size: 16px;
	color: #FFFFFF;
	float: left;
}
.list_b{
	height: 60px;
	width: 1200px;
	background: silver;
	background: url(../img/shouye/6877D77CD5DABB2CBEFF260BC88FA26E.png) no-repeat;
	background-size:1200px 60px ;
	border-bottom: 1px solid #f0f0f0;
}
.shuj{
	width: 240px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	font-size: 14px;
	color: #222123;
	float: left;
}
.shuj a{
	font-size: 14px;
	color: #222123;
}
.shuj_l{
	height: 20px;
	width: 20px;
	background: #F85959;
	float: left;
	margin: 20px 0 0 90px;

	border-radius: 50%;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
}
.shuj_r{
	height: 40px;
	width: 40px;
	background: saddlebrown;
	border-radius: 4px;
	float: left;
	margin: 10px 0 0 18px;
}
.shuj_r img{
	height: 40px;
	width: 40px;
}
.listr_t{
	height: 26px;
	width: 100%;
	background: pink;
}
.listrt_l{
	height: 26px;
	width: 24px;
	background: blue;
	margin-left: 33px;
	float: left;
}
.listrt_l img{
	height: 24px;
	width: 24px;
	margin: 1px 0;
}
.listrt_r{
	font-size: 18px;
	color: #211E1E;
	text-align: center;
	line-height: 26px;
	float: left;
	margin-left: 10px;
}
.neir{
	width: 100%;
	font-size: 16px;
	color: #fa7570;
	margin-top: 20px;
}
.ewmm{
	height: 150px;
	width: 150px;
	background: pink;
	margin-top: 37px;
}
.ewmm img{
	height: 150px;
	width: 150px;
}
#bot{
/*	height: 58px;
*/	width: 100%;
	/*background: pink;*/
	float:left;
}
.bot{
	width: 100%;
	height: 58px;
	background: #222123;
	text-align: center;
	line-height: 58px;
	margin-top: 168px;
	font-size: 14px;
	color: #FFFFFF;
}
.bw{
	height: 18px;
	line-height: 18px;
	width: 1200px;
	margin: 0 auto;
	padding: 30px 0;
}
 .b_shu{
 	font-size: 18px;
 	font-weight: bolder;
 	float: left;
 	color: #F85959;
 }
.bwbb{
	font-size: 18px;
	float: left;
	color: #211E1E;
	margin-left: 10px;
}
.bw_con{
	background: #ffffff;
}
.M-box1{
	margin-left: 400px;
	margin-top: 10px;
}
.tl3{
	width: 640px;
}
.tl4{
	width: 180px;
}
.tl1{
	width: 200px;
}
.tl2{
	width: 260px;
}
.j1{
	width: 200px;
}
.j2{
	width: 260px;
}
.j3{
	width: 640px;
}
.j4{
	width: 180px;
}
.nav_cc .bangd{
	color: #f85959;
}
.m_kuang{
	height: 60px;
	width: 100%;
	background: #FFFFFF;
}
.M-box1{
	margin-left: 400px;
	margin-top: 15px;
	float: left;
}
body{
	background: #F0F0F0;
}
.chao{
	display: -webkit-box; /*将对象作为弹性伸缩盒子模型显示*/
    overflow: hidden;

    white-space: normal !important;
    text-overflow: ellipsis;
    word-wrap: break-word;

    -webkit-line-clamp: 1; /*限制在一个块元素显示的文本的行数*/
    -webkit-box-orient: vertical;
}