/*.z_nav2{
	height: 205px;
	width: 120px;
	background: olive;
	position: absolute;
	top: 46px;
	left: 713px;
	z-index: 9;
	display: none;
}*/
body{
	background: #F0F0F0;
}
#navn{
	width: 1152px;
	padding: 20px 24px 20px 24px;
	margin: 0 auto;
	background: #FFFFFF;
	margin-top: 20px;
}
.navn_l{
	width: 78px;
	height: 24px;
	/*background: yellow;*/
	float: left;
}
.navn_r{
	width: 1074px;
	/*background: yellowgreen;*/
	font-size: 16px;
	overflow: hidden;
	zoom: 1;
}
.navn_p{
	width: 1074px;
	/*background: yellowgreen;*/
	font-size: 16px;
	overflow: hidden;
	zoom: 1;
}
.n_shu{
	font-size: 16px;
	font-weight: 700;
	/*color: red;*/
	float: left;
}
.lei{
	font-size: 16px;
	color: #222123;
	/*background: yellowgreen;*/
	float: left;
	margin-left: 15px;
}

.daoh{
	height: 83px;
	width: 1200px;
	/*background: yellow;*/
	margin: 0 auto;
}
.tw1{
	float: left;
}
.bang{
	height: 42px;
	width: 400px;
	/*background: pink;*/
	float: left;
	margin: 20px 0 0 350px;
	border-radius: 8px;
	border: 1px solid #f85959;
}
.zbang{
	height: 42px;
	width: 200px;
	float: left;
	background: #FFFFFF;
	text-align: center;
	line-height: 42px;
	font-size: 18px;
}
.zbang1{
	background: #FFFFFF;
	border-radius: 8px 0 0 8px;
	color: #222123;
}
.zbang2{
	background: #FFFFFF;
	border-radius: 0 8px 8px 0;
	color: #222123;
}
#list{
	min-height: 720px;
	width: 1200px;
	/*background: yellowgreen;*/
	margin: 0 auto;
}
.list_l{
	width: 1030px;
	height: 100%;
	float: left;
	/*background: pink;*/
}
.list_r{
	width: 110px;
	height: 320px;
	background: #FFFFFF;
	float: left;
	margin-left: 20px;
	padding: 20px 20px;
}
.list_t{
	height: 50px;
	width: 1030px;
	/*background: silver;*/
}
.list_tl{
	width: 200px;
	height: 50px;
	background: #f85959;
	text-align: center;
	line-height: 50px;
	font-size: 16px;
	color: #FFFFFF;
	float: left;
}
.t1{
	width: 136px;
	/*background: yellow;*/
}
.t2{
	width: 200px;
	/*background: pink;*/
}
.t3{
	/*background: yellowgreen;*/
	width: 98px;
}
.t9{
	width: 106px;
	/*background: pink;*/
}
.t5,.t6,.t7,.t8,.t4{
	width: 98px;
	/*background: yellowgreen;*/
}
.list_b{
	height: 60px;
	width: 1030px;
	background: silver;
	background: url(../../img/xmtxy/background.png) no-repeat;
	border-bottom: 1px solid #f0f0f0;
}
.shuj{
	width: 200px;
	height: 60px;
	/*background: skyblue;*/
	text-align: center;
	line-height: 60px;
	font-size: 14px;
	color: #222123;
	float: left;
	
}
.j1{
	width: 136px;
	/*background: pink;*/
}
.j2{
	width: 200px;
	/*background: yellowgreen;*/
}
.j3,.j4,.j5,.j6,.j7,.j8{
	width: 98px;
}
.j4{
	/*background: red;*/
}
.j9{
	width: 106px;
	/*background: pink;*/
}
.chao{
	display: -webkit-box; /*将对象作为弹性伸缩盒子模型显示*/
    overflow: hidden;

    white-space: normal !important;
    text-overflow: ellipsis;
    word-wrap: break-word;

    -webkit-line-clamp: 1; /*限制在一个块元素显示的文本的行数*/
    -webkit-box-orient: vertical;
}
.shuj_l{
	height: 20px;
	width: 20px;
	background: #F85959;
	float: left;
	margin: 20px 0 0 30px;
	border-radius: 50%;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
}
.shuj_r{
	height: 40px;
	width: 40px;
	/*background: saddlebrown;*/
	border-radius: 4px;
	float: left;
	margin: 10px 0 0 18px;
}
.shuj_r img{
	height: 40px;
	width: 40px;
}
.listr_t{
	height: 26px;
	width: 100%;
	/*background: pink;*/
}
.listrt_l{
	height: 26px;
	width: 24px;
	/*background: blue;*/
	margin-left: 13px;
	float: left;
}
.listrt_l img{
	height: 24px;
	width: 24px;
	margin: 1px 0;
}
.listrt_r{
	font-size: 18px;
	color: #211E1E;
	text-align: center;
	line-height: 26px;
	float: left;
	margin-left: 10px;
}
.neir{
	width: 100%;
	font-size: 16px;
	color: #fa7570;
	margin-top: 20px;
}
.ewmm{
	height: 110px;
	width: 110px;
	background: pink;
	margin-top: 37px;
}
.ewmm img{
	height: 110px;
	width: 110px;
}
#bot{
/*	height: 58px;
*/	width: 100%;
	/*background: pink;*/
	float:left;
}
.bot{
	width: 100%;
	height: 58px;
	background: #222123;
	text-align: center;
	line-height: 58px;
	margin-top: 45px;
	font-size: 14px;
	color: #FFFFFF;
}


 .navn_r li{
	float: left;
	font-size: 16px;
	margin-right: 20px;
	line-height: 24px;
	position: relative;
}
.navn_p li{
	float: left;
	font-size: 16px;
	margin-right: 20px;
	line-height: 24px;
	position: relative;
}
 .navn_r li p{
 	font-size: 16px;
 	line-height: 24px;
 }
  .navn_p li p{
 	font-size: 16px;
 	line-height: 24px;
 }
.bian{
	background: red;
	color: #FFFFFF;
	border-radius: 4px;
	line-height: 24px;
}	
		
		
		
.leibie1{
	position: absolute;
	z-index: 9;
	top: 0;
	left: 0;
	width: 44px;
	height: 27px;
	opacity: 0;
	cursor: pointer;

	
}
		
.zhou{
	width: 180px;
	height: 42px;
	/*background: yellow;*/
	position: absolute;
	z-index: 9;
	left: 0;
	opacity: 0;
	cursor: pointer;

}
.bang li{
	position: relative;
}
/*#container{
	background: #E0E0E0;
}*/
.M-box1{
	margin-left: 300px;
	margin-top: 15px;
	float: left;
}
.m_kuang{
	height: 60px;
	width: 100%;
	background: #FFFFFF;
}
.se1{
	background: #F85959;
	color: #FFFFFF;
}
.leixing2{
	/*background: yellow;*/
	padding-top: 10px;
	border-top: 1px dashed #F85959;
}
.leixing1{
	margin-bottom: 10px;
	/*background: pink;*/
}
