

.scj{
	color: #F85959;
}
.gg_conr{
	width: 1038px;
	height: 872px;
	margin: 0 auto;
	margin-top: 30px;
}
.ggc_t li{
	float: left;
	font-size:14px ;
	color: #FFFFFF;
	text-align: center;
	height: 50px;
	line-height: 50px;
	background: #F85959;
	border-right: 1px solid #FFFFFF;
}
.cc1{
	width: 99px;
}
.cc2{
	width: 309px;
}
.cc3{
	width: 99px;
}
.cc4{
	width: 99px;
}
.cc5{
	width: 127px;
}
.cc5_p{
	font-size: 14px;
	float: left;
	margin-left: 10px;
}
.cc6{
	width: 99px;
}
.cc6_p{
	font-size: 14px;
	float: left;
	margin-left: 30px;
}
.cimg{
	float: left;
	margin-left: 10px;
	margin-top: 17px;
}
.cc7{
	width: 99px;
}
.cc8{
	width: 99px;
	border-right: 0;
}
.ggc_t2{
	width: 1038px;
	height: 60px;
	float: left;
	background: url(../../img/xmtxy/guanggaozhushoucangjia.png) no-repeat;
	border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
}
.ggc_t2 li{
	float: left;
	font-size:14px ;
	color: #211E1E;
	text-align: center;
	height: 60px;
	line-height: 60px;
}
.g1{
	width: 98px;
	margin-right: 2px;
}
.g1 img{
	height: 20px;
	width: 22px;
}
.g2{
	width: 308px;
	margin-right: 1px;
}
.touu{
	float: left;
	margin-left: 20px;
	margin-top: 10px;
	width: 41px;
	height: 40px;
}
.g_r{
	float: left;
	font-size: 14px;
	color: #211E1E;
	width: 243px;
	text-align: center;
}
.g3{
	width: 100px;
}
.g4{
	width: 100px;
}
.g5{
	width: 128px;
}
.g6{
	width: 100px;
}
.g7{
	width: 100px;
	cursor: pointer;
}
.g8{
	width: 100px;
	cursor: pointer;
}
.gwc{
	width: 22px;
	height: 20px;
	background: gray;
	margin: 0 auto;
	margin-top: 15px;
	background: url(../../img/xmtxy/add-xuanhaoche-big.png) no-repeat;
	background-size:22px 20px ;
}
.on2_check{
	background: url(../../img/xmtxy/xuanhaoche-dangqian.png) no-repeat;
	background-size:22px 20px ;
}
.one{
opacity: 0;
cursor: pointer;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
filter: alpha(opacity=0);
background: yellow;
	margin-top: 2px;
	margin-left: 2px;
	float: left;
}
.shouc{
	width: 22px;
	height: 20px;
	background: gray;
	margin: 0 auto;
	margin-top: 15px;
	background: url(../../img/xmtxy/shoucang.png) no-repeat;
	background-size:22px 20px ;
}
.on1_check{
	background: url(../../img/xmtxy/shoucangjiadangqian.png) no-repeat;
	background-size:22px 20px ;
}
.scj_con{
	height: 720px;
	width: 1038px;
	float: left;
	/*overflow: scroll;*/
	/*background: red;*/
}
.M-box1{
	float: left;
	margin-left:450px;
	/*margin: 0 auto;*/
	height: 30px;
	width: 580px;
	/*background: red;*/
	/*margin-top: 10px;*/
}
.chao{
	display: -webkit-box; /*将对象作为弹性伸缩盒子模型显示*/
    overflow: hidden;

    white-space: normal !important;
    text-overflow: ellipsis;
    word-wrap: break-word;

    -webkit-line-clamp: 1; /*限制在一个块元素显示的文本的行数*/
    -webkit-box-orient: vertical;
}
.f_kuang{
	height: 30px;
	width: 1040px;
	/*float: left;*/
	margin: 0 auto;
}
.tank{
	width: 100%;
	height: 100%;
	/*background: rgba(0,0,0,0.5);*/
	position: fixed;
	top: 0;
	display: none;
	
	/*z-index: 9;*/
}
.tank_k{
	height: 180px;
	width: 300px;
	/*background: pink;*/
	margin: 0 auto;
	box-shadow: 0 0 15px #000000;
}
.tan_h{
	height: 30px;
	width: 100%;
	background: #EFEFEF;
	text-align: center;
	line-height: 30px
}
.tank_c{
	height: 100px;
	width: 100%;
	background: #FFFFFF;
	float: left;
}
.tan_con{
	/*background: pink;*/
	margin-top: 20px;
	text-align: center;
}
.tan_b{
	height: 50px;
	width: 100%;
	background: #FFFFFF;
	float: left;
}
.niu{
	height: 20px;
	width: 40px;
	background: #EFEFEF;
	float: left;
	border-radius: 4px;
	margin-left: 80px;
	/*margin: 0 auto;*/
	text-align: center;
	line-height: 20px;
	border: 1px solid #666;
	cursor: pointer;
}
