<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" >
    <script src="//cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
    <script type="text/javascript" src="__CDN__/assets/js/index/flexible.js" ></script>
    <script type="text/javascript" src="__CDN__/assets/js/index/webcl.js" ></script>
    <link rel="stylesheet" href="__CDN__/assets/css/index/webcl.css" />
    <title></title>
</head>
<body>
<div id="return">
    <div class="return">
        <!--<div class="fan_p">
            <img src="__CDN__/assets/img/xmtxy/daichuli-fanhuijiantou.png" />
        </div>-->
        <div class="dcr">修改成功</div>
    </div>
</div>


</div>
</body>
</html>
